temp_wf.json
{"id":"gNXRKIQpNubEazH7","name":"RentProg Webhooks Monitor","nodes":[{"parameters":{"httpMethod":"POST","path":"rentprog-webhook","responseMode":"responseNode","options":{"productionUrl":"https://webhook.rentflow.rentals"},"onError":"continueRegularOutput"},"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,400],"webhookId":"rentprog-webhook-monitor"},{"parameters":{"jsCode":"// ╨ƒ╨╛╨╗╨╜╤ï╨╣ ╨┐╨░╤Ç╤ü╨╕╨╜╨│ ╨╕ ╨▓╨░╨╗╨╕╨┤╨░╤å╨╕╤Å ╤ä╨╛╤Ç╨╝╨░╤é╨░ ╨▓╨╡╨▒╤à╤â╨║╨░ ╤ü ╨╛╨▒╤Ç╨░╨▒╨╛╤é╨║╨╛╨╣ ╨╛╤ê╨╕╨▒╨╛╨║\ntry {\n  const body = $input.item.json.body || {};\n  const payloadStr = body.payload || '';\n  const rawEvent = body.event || body.type || 'unknown';\n\n  let rentprogId = 'unknown';\n  let isKnownFormat = false;\n  let parsedPayload = {};\n  let validationErrors = [];\n  let eventType = 'unknown';\n  let entityType = 'unknown';\n  let parseError = false;\n  let errorMessage = '';\n\n  // ========== ╨¿╨É╨ô 1: ╨ƒ╨░╤Ç╤ü╨╕╨╜╨│ payload ==========\n  try {\n    if (typeof payloadStr === 'string' && payloadStr.length > 0) {\n      try {\n        parsedPayload = JSON.parse(payloadStr);\n      } catch (e) {\n        // ╨ƒ╤Ç╨╛╨▒╤â╨╡╨╝ Ruby hash ╤ä╨╛╤Ç╨╝╨░╤é\n        try {\n          let jsonStr = payloadStr\n            .replace(/=>/g, ':')\n            .replace(/([{, ])([a-zA-Z_][a-zA-Z0-9_]*):/g, '$1\"$2\":')\n            .replace(/nil/g, 'null')\n            .replace(/\\s+/g, ' ');\n          parsedPayload = JSON.parse(jsonStr);\n        } catch (e2) {\n          validationErrors.push('╨¥╨╡ ╤â╨┤╨░╨╗╨╛╤ü╤î ╤Ç╨░╤ü╨┐╨░╤Ç╤ü╨╕╤é╤î payload: ' + e2.message);\n        }\n      }\n    } else if (typeof payloadStr === 'object' && payloadStr !== null) {\n      parsedPayload = payloadStr;\n    }\n  } catch (e) {\n    validationErrors.push('╨₧╤ê╨╕╨▒╨║╨░ ╨╛╨▒╤Ç╨░╨▒╨╛╤é╨║╨╕ payload: ' + e.message);\n  }\n\n  // ========== ╨¿╨É╨ô 2: ╨ÿ╨╖╨▓╨╗╨╡╤ç╨╡╨╜╨╕╨╡ rentprog_id ==========\n  if (parsedPayload && Object.keys(parsedPayload).length > 0) {\n    if (parsedPayload.id !== undefined && parsedPayload.id !== null) {\n      rentprogId = String(parsedPayload.id);\n    } else if (typeof payloadStr === 'string') {\n      // ╨ƒ╤Ç╨╛╨▒╤â╨╡╨╝ regex ╨╡╤ü╨╗╨╕ ╨╜╨╡ ╤Ç╨░╤ü╨┐╨░╤Ç╤ü╨╕╨╗╨╛╤ü╤î\n      const idMatch = payloadStr.match(/[\"']?id[\"']?\\s*=>\\s*(\\d+)/i);\n      if (idMatch) {\n        rentprogId = idMatch[1];\n      } else {\n        validationErrors.push('╨¥╨╡ ╨╜╨░╨╣╨┤╨╡╨╜ ID ╨▓ payload');\n      }\n    } else {\n      validationErrors.push('╨¥╨╡ ╨╜╨░╨╣╨┤╨╡╨╜ ID ╨▓ payload');\n    }\n  } else {\n    validationErrors.push('Payload ╨┐╤â╤ü╤é ╨╕╨╗╨╕ ╨╜╨╡ ╤Ç╨░╤ü╨┐╨░╤Ç╤ü╨╡╨╜');\n  }\n\n  // ========== ╨¿╨É╨ô 3: ╨₧╨┐╤Ç╨╡╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╤é╨╕╨┐╨░ ╤ü╨╛╨▒╤ï╤é╨╕╤Å ==========\n  const knownEventTypes = [\n    'car_update', 'car_create', 'car_delete',\n    'booking_update', 'booking_create', 'booking_delete',\n    'client_update', 'client_create', 'client_delete',\n    'booking.issue.planned', 'booking.returned', 'car.moved'\n  ];\n\n  const eventLower = rawEvent.toLowerCase().replace(/[._]/g, '');\n  if (knownEventTypes.includes(rawEvent)) {\n    eventType = rawEvent;\n  } else {\n    // ╨ƒ╤Ç╨╛╨▓╨╡╤Ç╤Å╨╡╨╝ ╨▓╨░╤Ç╨╕╨░╨╜╤é╤ï: car_update, carupdate, car.update\n    const matchedType = knownEventTypes.find(t => {\n      const tLower = t.replace(/[._]/g, '');\n      return eventLower.includes(tLower) || tLower.includes(eventLower);\n    });\n    if (matchedType) {\n      eventType = matchedType;\n    } else {\n      validationErrors.push(`╨¥╨╡╨╕╨╖╨▓╨╡╤ü╤é╨╜╤ï╨╣ ╤é╨╕╨┐ ╤ü╨╛╨▒╤ï╤é╨╕╤Å: ${rawEvent}`);\n    }\n  }\n\n  // ========== ╨¿╨É╨ô 4: ╨₧╨┐╤Ç╨╡╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╤é╨╕╨┐╨░ ╤ü╤â╤ë╨╜╨╛╤ü╤é╨╕ ==========\n  if (eventType.startsWith('car') || eventType.includes('car') || eventType.includes('╨░╨▓╤é╨╛╨╝╨╛╨▒')) {\n    entityType = 'car';\n  } else if (eventType.startsWith('booking') || eventType.includes('booking') || eventType.includes('╨▒╤Ç╨╛╨╜╨╕╤Ç')) {\n    entityType = 'booking';\n  } else if (eventType.startsWith('client') || eventType.includes('client') || eventType.includes('╨║╨╗╨╕╨╡╨╜╤é')) {\n    entityType = 'client';\n  } else if (eventType !== 'unknown') {\n    validationErrors.push(`╨¥╨╡ ╤â╨┤╨░╨╗╨╛╤ü╤î ╨╛╨┐╤Ç╨╡╨┤╨╡╨╗╨╕╤é╤î ╤é╨╕╨┐ ╤ü╤â╤ë╨╜╨╛╤ü╤é╨╕ ╨┤╨╗╤Å ╤ü╨╛╨▒╤ï╤é╨╕╤Å: ${eventType}`);\n  }\n\n  // ========== ╨¿╨É╨ô 5: ╨Æ╨░╨╗╨╕╨┤╨░╤å╨╕╤Å ╨╛╨▒╤Å╨╖╨░╤é╨╡╨╗╤î╨╜╤ï╤à ╨┐╨╛╨╗╨╡╨╣ ==========\n  if (entityType !== 'unknown' && rentprogId === 'unknown') {\n    validationErrors.push(`╨₧╤é╤ü╤â╤é╤ü╤é╨▓╤â╨╡╤é ╨╛╨▒╤Å╨╖╨░╤é╨╡╨╗╤î╨╜╨╛╨╡ ╨┐╨╛╨╗╨╡ id ╨┤╨╗╤Å ${entityType}`);\n  }\n\n  // ========== ╨ÿ╨ó╨₧╨ô╨₧╨Æ╨É╨» ╨ƒ╨á╨₧╨Æ╨ò╨á╨Ü╨É ==========\n  // ╨ñ╨╛╤Ç╨╝╨░╤é ╨╕╨╖╨▓╨╡╤ü╤é╨╡╨╜, ╨╡╤ü╨╗╨╕ ╨▓╤ü╨╡ ╨┐╤Ç╨╛╨▓╨╡╤Ç╨║╨╕ ╨┐╤Ç╨╛╨╣╨┤╨╡╨╜╤ï\n  if (\n    Object.keys(parsedPayload).length > 0 &&\n    rentprogId !== 'unknown' &&\n    eventType !== 'unknown' &&\n    entityType !== 'unknown' &&\n    validationErrors.length === 0\n  ) {\n    isKnownFormat = true;\n  }\n\n  // ╨₧╨┐╤Ç╨╡╨┤╨╡╨╗╨╡╨╜╨╕╨╡ branch\n  const branch = $input.item.json.query && $input.item.json.query.branch ? $input.item.json.query.branch : (body.branch || 'unknown');\n\n  return {\n    json: {\n      ...$input.item.json,\n      rentprogId: rentprogId,\n      eventType: eventType,\n      entityType: entityType,\n      branch: branch,\n      isKnownFormat: isKnownFormat,\n      parsedPayload: parsedPayload,\n      validationErrors: validationErrors,\n      rawEvent: rawEvent,\n      parseError: parseError,\n      errorMessage: errorMessage\n    }\n  };\n} catch (error) {\n  // ╨Ü╤Ç╨╕╤é╨╕╤ç╨╡╤ü╨║╨░╤Å ╨╛╤ê╨╕╨▒╨║╨░ ╨┐╨░╤Ç╤ü╨╕╨╜╨│╨░ - ╨▓╨╛╨╖╨▓╤Ç╨░╤ë╨░╨╡╨╝ ╤ü╤é╤Ç╤â╨║╤é╤â╤Ç╤â ╤ü ╨╛╤ê╨╕╨▒╨║╨╛╨╣\n  const body = $input.item.json.body || {};\n  const branch = $input.item.json.query && $input.item.json.query.branch ? $input.item.json.query.branch : (body.branch || 'unknown');\n  const rawEvent = body.event || body.type || 'unknown';\n  \n  return {\n    json: {\n      ...$input.item.json,\n      rentprogId: 'unknown',\n      eventType: 'unknown',\n      entityType: 'unknown',\n      branch: branch,\n      isKnownFormat: false,\n      parsedPayload: {},\n      validationErrors: ['╨Ü╤Ç╨╕╤é╨╕╤ç╨╡╤ü╨║╨░╤Å ╨╛╤ê╨╕╨▒╨║╨░ ╨┐╨░╤Ç╤ü╨╕╨╜╨│╨░: ' + (error.message || String(error))],\n      rawEvent: rawEvent,\n      parseError: true,\n      errorMessage: error.message || String(error),\n      errorStack: error.stack || ''\n    }\n  };\n}"},"id":"parse-validate-node","name":"Parse & Validate Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,400],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"known-format-check","leftValue":"={{ $json.isKnownFormat }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-known-format-node","name":"If Known Format","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,400],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $env.ORCHESTRATOR_URL || 'http://46.224.17.15:3000' }}/process-webhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"event","value":"={{ $json.rawEvent || $json.eventType }}"},{"name":"payload","value":"={{ JSON.stringify($json.parsedPayload) }}"},{"name":"rentprog_id","value":"={{ $json.rentprogId }}"},{"name":"branch","value":"={{ $json.branch }}"},{"name":"entity_type","value":"={{ $json.entityType }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"auto-process-node","name":"Auto Process","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"needs-upsert-check","leftValue":"={{ $json.needsUpsert }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-needs-upsert-node","name":"If Needs Upsert","type":"n8n-nodes-base.if","typeVersion":2,"position":[1050,300]},{"parameters":{"method":"POST","url":"={{ $env.N8N_URL || 'http://46.224.17.15:5678' }}/webhook/upsert-processor","sendBody":true,"contentType":"json","body":"={{ { \"rentprog_id\": $('Auto Process').item.json.rentprog_id || $('Parse & Validate Format').item.json.rentprogId, \"event\": $('Auto Process').item.json.event || $('Parse & Validate Format').item.json.rawEvent, \"branch\": $('Auto Process').item.json.branch || $('Parse & Validate Format').item.json.branch, \"entity_type\": $('Auto Process').item.json.entity_type || $('Parse & Validate Format').item.json.entityType } }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"trigger-upsert-node","name":"Trigger Upsert Processor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,200],"onError":"continueRegularOutput"},{"parameters":{"operation":"sendMessage","chatId":"={{ $env.TELEGRAM_ALERT_CHAT_ID }}","text":"=Γ¥ô ╨¥╨╡╨╕╨╖╨▓╨╡╤ü╤é╨╜╤ï╨╣ ╤ä╨╛╤Ç╨╝╨░╤é ╨▓╨╡╨▒╤à╤â╨║╨░ ╨╛╤é RentProg\n\n╨Æ╤Ç╨╡╨╝╤Å: {{ $now }}\nBranch: {{ $json.branch }}\n╨ó╨╕╨┐ ╤ü╨╛╨▒╤ï╤é╨╕╤Å: {{ $json.rawEvent }}\nRentProg ID: {{ $json.rentprogId }}\n\n╨₧╤ê╨╕╨▒╨║╨╕ ╨▓╨░╨╗╨╕╨┤╨░╤å╨╕╨╕:\n{{ $json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('\\n') : '╨¥╨╡╨╕╨╖╨▓╨╡╤ü╤é╨╜╨░╤Å ╤ü╤é╤Ç╤â╨║╤é╤â╤Ç╨░' }}\n\n╨ƒ╨╛╨╗╨╜╤ï╨╣ ╨╖╨░╨┐╤Ç╨╛╤ü:\n{{ JSON.stringify($json, null, 2) }}","additionalFields":{}},"id":"debug-unknown-node","name":"Debug: Unknown Format","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[850,500],"credentials":{"telegramApi":{"id":"1tKryXxL5Gq395nN","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"sendMessage","chatId":"={{ $env.TELEGRAM_ALERT_CHAT_ID }}","text":"=≡ƒÜ¿ ╨Ü╨á╨ÿ╨ó╨ÿ╨º╨ò╨í╨Ü╨É╨» ╨₧╨¿╨ÿ╨æ╨Ü╨É ╨┐╨░╤Ç╤ü╨╕╨╜╨│╨░ ╨▓╨╡╨▒╤à╤â╨║╨░ ╨╛╤é RentProg\n\n╨Æ╤Ç╨╡╨╝╤Å: {{ $now }}\nBranch: {{ $json.branch }}\n╨ó╨╕╨┐ ╤ü╨╛╨▒╤ï╤é╨╕╤Å: {{ $json.rawEvent }}\nRentProg ID: {{ $json.rentprogId }}\n\n╨₧╤ê╨╕╨▒╨║╨░: {{ $json.errorMessage || 'Unknown error' }}\n\n╨₧╤ê╨╕╨▒╨║╨╕ ╨▓╨░╨╗╨╕╨┤╨░╤å╨╕╨╕:\n{{ $json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('\\n') : '╨¥╨╡╤é ╨┤╨╡╤é╨░╨╗╨╡╨╣' }}\n\nStack trace:\n{{ $json.errorStack || '╨¥╨╡╤é stack trace' }}\n\n╨ƒ╨╛╨╗╨╜╤ï╨╣ ╨╖╨░╨┐╤Ç╨╛╤ü:\n{{ JSON.stringify($json, null, 2) }}","additionalFields":{}},"id":"alert-parse-error-node","name":"Alert: Parse Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[650,600],"credentials":{"telegramApi":{"id":"1tKryXxL5Gq395nN","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"branch","name":"branch","value":"={{ $json.branch || 'unknown' }}","type":"stringValue"},{"id":"type","name":"type","value":"={{ $json.eventType || 'unknown' }}","type":"stringValue"},{"id":"rentprog_id","name":"rentprog_id","value":"={{ $json.rentprogId || 'unknown' }}","type":"stringValue"},{"id":"ok","name":"ok","value":"={{ $json.parseError ? false : ($json.isKnownFormat !== undefined ? $json.isKnownFormat : ($json.body && $json.body.ok !== false ? true : false)) }}","type":"booleanValue"},{"id":"reason","name":"reason","value":"={{ $json.parseError ? ('╨Ü╤Ç╨╕╤é╨╕╤ç╨╡╤ü╨║╨░╤Å ╨╛╤ê╨╕╨▒╨║╨░ ╨┐╨░╤Ç╤ü╨╕╨╜╨│╨░: ' + ($json.errorMessage || 'Unknown error')) : ($json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('; ') : ($json.body && $json.body.error ? $json.body.error : ($json.body && $json.body.reason ? $json.body.reason : 'ok'))) }}","type":"stringValue"},{"id":"processed","name":"processed","value":"={{ $json.parseError ? false : ($('Auto Process').item && $('Auto Process').item.json && $('Auto Process').item.json.processed === true ? true : false) }}","type":"booleanValue"}]},"options":{"dotNotation":true}},"id":"set-params-node","name":"Set Query Params","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1450,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO events (ts, branch, type, rentprog_id, ok, reason, processed)\nVALUES (NOW(), $1, $2, $3, $4, $5, $6)\nON CONFLICT (branch, type, rentprog_id) DO NOTHING\nRETURNING id","options":{"queryReplacement":"={{ $json.branch }},={{ $json.type }},={{ $json.rentprog_id }},={{ $json.ok }},={{ $json.reason }},={{ $json.processed }}"}},"id":"data-table-node","name":"Save Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1650,400],"credentials":{"postgres":{"id":"3I9fyXVlGg4Vl4LZ","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"ok\": true, \"received\": true, \"processed\": $json.processed || false } }}","options":{}},"id":"respond-node","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1850,400],"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Parse & Validate Format","type":"main","index":0}]]},"Parse & Validate Format":{"main":[[{"node":"If Known Format","type":"main","index":0}]],"error":[[{"node":"Alert: Parse Error","type":"main","index":0}]]},"If Known Format":{"main":[[{"node":"Auto Process","type":"main","index":0}],[{"node":"Debug: Unknown Format","type":"main","index":0}]],"error":[[{"node":"Alert: Parse Error","type":"main","index":0}]]},"Auto Process":{"main":[[{"node":"If Needs Upsert","type":"main","index":0}]],"error":[[{"node":"Alert: Parse Error","type":"main","index":0}]]},"If Needs Upsert":{"main":[[{"node":"Trigger Upsert Processor","type":"main","index":0}],[{"node":"Set Query Params","type":"main","index":0}]]},"Trigger Upsert Processor":{"main":[[{"node":"Set Query Params","type":"main","index":0}]]},"Debug: Unknown Format":{"main":[[{"node":"Set Query Params","type":"main","index":0}]]},"Alert: Parse Error":{"main":[[{"node":"Set Query Params","type":"main","index":0}]]},"Set Query Params":{"main":[[{"node":"Save Event","type":"main","index":0}]]},"Save Event":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
