tmp_workflow_payload.json
{"name": "✅ Синхронизация цен автомобилей (RentProg) раз в сутки", "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 5 * * *"}]}}, "name": "Daily Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [144, 304], "id": "c58cb7f5-44ff-4680-8df8-499c15f86d42"}, {"parameters": {"operation": "executeQuery", "query": "=INSERT INTO rentprog_car_states_snapshot AS tgt (\n  branch_id, rentprog_id, car_name, code, number, vin, color, year, transmission,\n  fuel, car_type, car_class, active, state, tank_state, clean_state, mileage,\n  tire_type, tire_size, last_inspection, deposit, price_hour, hourly_deposit,\n  monthly_deposit, investor_id, purchase_price, purchase_date, age_limit,\n  driver_year_limit, franchise, max_fine, repair_cost, is_air, climate_control,\n  parktronic, parktronic_camera, heated_seats, audio_system, usb_system,\n  rain_sensor, engine_capacity, number_doors, tank_value, pts,\n  registration_certificate, body_number, data\n)\nSELECT\n  rec.branch_id, rec.rentprog_id, rec.car_name, rec.code, rec.number, rec.vin, rec.color, rec.year, rec.transmission,\n  rec.fuel, rec.car_type, rec.car_class, rec.active, rec.state, rec.tank_state, rec.clean_state, rec.mileage,\n  rec.tire_type, rec.tire_size, rec.last_inspection, rec.deposit, rec.price_hour, rec.hourly_deposit,\n  rec.monthly_deposit, rec.investor_id, rec.purchase_price, rec.purchase_date, rec.age_limit,\n  rec.driver_year_limit, rec.franchise, rec.max_fine, rec.repair_cost, rec.is_air, rec.climate_control,\n  rec.parktronic, rec.parktronic_camera, rec.heated_seats, rec.audio_system, rec.usb_system,\n  rec.rain_sensor, rec.engine_capacity, rec.number_doors, rec.tank_value, rec.pts,\n  rec.registration_certificate, rec.body_number, rec.data\nFROM json_populate_record(NULL::rentprog_car_states_snapshot, '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb) AS rec\nON CONFLICT (rentprog_id) DO UPDATE SET\n  branch_id = COALESCE(EXCLUDED.branch_id, tgt.branch_id),\n  car_name = COALESCE(EXCLUDED.car_name, tgt.car_name),\n  code = COALESCE(EXCLUDED.code, tgt.code),\n  number = COALESCE(EXCLUDED.number, tgt.number),\n  vin = COALESCE(EXCLUDED.vin, tgt.vin),\n  color = COALESCE(EXCLUDED.color, tgt.color),\n  year = COALESCE(EXCLUDED.year, tgt.year),\n  transmission = COALESCE(EXCLUDED.transmission, tgt.transmission),\n  fuel = COALESCE(EXCLUDED.fuel, tgt.fuel),\n  car_type = COALESCE(EXCLUDED.car_type, tgt.car_type),\n  car_class = COALESCE(EXCLUDED.car_class, tgt.car_class),\n  active = COALESCE(EXCLUDED.active, tgt.active),\n  state = COALESCE(EXCLUDED.state, tgt.state),\n  tank_state = COALESCE(EXCLUDED.tank_state, tgt.tank_state),\n  clean_state = COALESCE(EXCLUDED.clean_state, tgt.clean_state),\n  mileage = COALESCE(EXCLUDED.mileage, tgt.mileage),\n  tire_type = COALESCE(EXCLUDED.tire_type, tgt.tire_type),\n  tire_size = COALESCE(EXCLUDED.tire_size, tgt.tire_size),\n  last_inspection = COALESCE(EXCLUDED.last_inspection, tgt.last_inspection),\n  deposit = COALESCE(EXCLUDED.deposit, tgt.deposit),\n  price_hour = COALESCE(EXCLUDED.price_hour, tgt.price_hour),\n  hourly_deposit = COALESCE(EXCLUDED.hourly_deposit, tgt.hourly_deposit),\n  monthly_deposit = COALESCE(EXCLUDED.monthly_deposit, tgt.monthly_deposit),\n  investor_id = COALESCE(EXCLUDED.investor_id, tgt.investor_id),\n  purchase_price = COALESCE(EXCLUDED.purchase_price, tgt.purchase_price),\n  purchase_date = COALESCE(EXCLUDED.purchase_date, tgt.purchase_date),\n  age_limit = COALESCE(EXCLUDED.age_limit, tgt.age_limit),\n  driver_year_limit = COALESCE(EXCLUDED.driver_year_limit, tgt.driver_year_limit),\n  franchise = COALESCE(EXCLUDED.franchise, tgt.franchise),\n  max_fine = COALESCE(EXCLUDED.max_fine, tgt.max_fine),\n  repair_cost = COALESCE(EXCLUDED.repair_cost, tgt.repair_cost),\n  is_air = COALESCE(EXCLUDED.is_air, tgt.is_air),\n  climate_control = COALESCE(EXCLUDED.climate_control, tgt.climate_control),\n  parktronic = COALESCE(EXCLUDED.parktronic, tgt.parktronic),\n  parktronic_camera = COALESCE(EXCLUDED.parktronic_camera, tgt.parktronic_camera),\n  heated_seats = COALESCE(EXCLUDED.heated_seats, tgt.heated_seats),\n  audio_system = COALESCE(EXCLUDED.audio_system, tgt.audio_system),\n  usb_system = COALESCE(EXCLUDED.usb_system, tgt.usb_system),\n  rain_sensor = COALESCE(EXCLUDED.rain_sensor, tgt.rain_sensor),\n  engine_capacity = COALESCE(EXCLUDED.engine_capacity, tgt.engine_capacity),\n  number_doors = COALESCE(EXCLUDED.number_doors, tgt.number_doors),\n  tank_value = COALESCE(EXCLUDED.tank_value, tgt.tank_value),\n  pts = COALESCE(EXCLUDED.pts, tgt.pts),\n  registration_certificate = COALESCE(EXCLUDED.registration_certificate, tgt.registration_certificate),\n  body_number = COALESCE(EXCLUDED.body_number, tgt.body_number),\n  data = COALESCE(EXCLUDED.data, tgt.data);", "options": {}}, "name": "Save Snapshot", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [2288, 304], "id": "save-snapshot", "credentials": {"postgres": {"id": "3I9fyXVlGg4Vl4LZ", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "=WITH rec AS (\n  SELECT *\n  FROM json_populate_record(NULL::rentprog_car_states_snapshot, '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb)\n)\nINSERT INTO cars AS tgt (\n  id, branch_id, rentprog_id, car_name, code, number, vin, color, year, transmission,\n  fuel, car_type, car_class, active, state, tank_state, clean_state, mileage,\n  tire_type, tire_size, last_inspection, deposit, price_hour, hourly_deposit,\n  monthly_deposit, investor_id, purchase_price, purchase_date, age_limit,\n  driver_year_limit, franchise, max_fine, repair_cost, is_air, climate_control,\n  parktronic, parktronic_camera, heated_seats, audio_system, usb_system,\n  rain_sensor, engine_capacity, number_doors, tank_value, pts,\n  registration_certificate, body_number, data\n)\nSELECT\n  COALESCE((SELECT id FROM cars WHERE rentprog_id = rec.rentprog_id LIMIT 1), gen_random_uuid()) AS id,\n  rec.branch_id, rec.rentprog_id, rec.car_name, rec.code, rec.number, rec.vin, rec.color, rec.year, rec.transmission,\n  rec.fuel, rec.car_type, rec.car_class, rec.active, rec.state, rec.tank_state, rec.clean_state, rec.mileage,\n  rec.tire_type, rec.tire_size, rec.last_inspection, rec.deposit, rec.price_hour, rec.hourly_deposit,\n  rec.monthly_deposit, rec.investor_id, rec.purchase_price, rec.purchase_date, rec.age_limit,\n  rec.driver_year_limit, rec.franchise, rec.max_fine, rec.repair_cost, rec.is_air, rec.climate_control,\n  rec.parktronic, rec.parktronic_camera, rec.heated_seats, rec.audio_system, rec.usb_system,\n  rec.rain_sensor, rec.engine_capacity, rec.number_doors, rec.tank_value, rec.pts,\n  rec.registration_certificate, rec.body_number, rec.data\nFROM rec\nON CONFLICT (rentprog_id) DO UPDATE SET\n  branch_id = COALESCE(EXCLUDED.branch_id, tgt.branch_id),\n  car_name = COALESCE(EXCLUDED.car_name, tgt.car_name),\n  code = COALESCE(EXCLUDED.code, tgt.code),\n  number = COALESCE(EXCLUDED.number, tgt.number),\n  vin = COALESCE(EXCLUDED.vin, tgt.vin),\n  color = COALESCE(EXCLUDED.color, tgt.color),\n  year = COALESCE(EXCLUDED.year, tgt.year),\n  transmission = COALESCE(EXCLUDED.transmission, tgt.transmission),\n  fuel = COALESCE(EXCLUDED.fuel, tgt.fuel),\n  car_type = COALESCE(EXCLUDED.car_type, tgt.car_type),\n  car_class = COALESCE(EXCLUDED.car_class, tgt.car_class),\n  active = COALESCE(EXCLUDED.active, tgt.active),\n  state = COALESCE(EXCLUDED.state, tgt.state),\n  tank_state = COALESCE(EXCLUDED.tank_state, tgt.tank_state),\n  clean_state = COALESCE(EXCLUDED.clean_state, tgt.clean_state),\n  mileage = COALESCE(EXCLUDED.mileage, tgt.mileage),\n  tire_type = COALESCE(EXCLUDED.tire_type, tgt.tire_type),\n  tire_size = COALESCE(EXCLUDED.tire_size, tgt.tire_size),\n  last_inspection = COALESCE(EXCLUDED.last_inspection, tgt.last_inspection),\n  deposit = COALESCE(EXCLUDED.deposit, tgt.deposit),\n  price_hour = COALESCE(EXCLUDED.price_hour, tgt.price_hour),\n  hourly_deposit = COALESCE(EXCLUDED.hourly_deposit, tgt.hourly_deposit),\n  monthly_deposit = COALESCE(EXCLUDED.monthly_deposit, tgt.monthly_deposit),\n  investor_id = COALESCE(EXCLUDED.investor_id, tgt.investor_id),\n  purchase_price = COALESCE(EXCLUDED.purchase_price, tgt.purchase_price),\n  purchase_date = COALESCE(EXCLUDED.purchase_date, tgt.purchase_date),\n  age_limit = COALESCE(EXCLUDED.age_limit, tgt.age_limit),\n  driver_year_limit = COALESCE(EXCLUDED.driver_year_limit, tgt.driver_year_limit),\n  franchise = COALESCE(EXCLUDED.franchise, tgt.franchise),\n  max_fine = COALESCE(EXCLUDED.max_fine, tgt.max_fine),\n  repair_cost = COALESCE(EXCLUDED.repair_cost, tgt.repair_cost),\n  is_air = COALESCE(EXCLUDED.is_air, tgt.is_air),\n  climate_control = COALESCE(EXCLUDED.climate_control, tgt.climate_control),\n  parktronic = COALESCE(EXCLUDED.parktronic, tgt.parktronic),\n  parktronic_camera = COALESCE(EXCLUDED.parktronic_camera, tgt.parktronic_camera),\n  heated_seats = COALESCE(EXCLUDED.heated_seats, tgt.heated_seats),\n  audio_system = COALESCE(EXCLUDED.audio_system, tgt.audio_system),\n  usb_system = COALESCE(EXCLUDED.usb_system, tgt.usb_system),\n  rain_sensor = COALESCE(EXCLUDED.rain_sensor, tgt.rain_sensor),\n  engine_capacity = COALESCE(EXCLUDED.engine_capacity, tgt.engine_capacity),\n  number_doors = COALESCE(EXCLUDED.number_doors, tgt.number_doors),\n  tank_value = COALESCE(EXCLUDED.tank_value, tgt.tank_value),\n  pts = COALESCE(EXCLUDED.pts, tgt.pts),\n  registration_certificate = COALESCE(EXCLUDED.registration_certificate, tgt.registration_certificate),\n  body_number = COALESCE(EXCLUDED.body_number, tgt.body_number),\n  data = COALESCE(EXCLUDED.data, tgt.data),\n  updated_at = NOW();", "options": {}}, "name": "Save Cars", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [2592, 304], "id": "save-cars-node", "credentials": {"postgres": {"id": "3I9fyXVlGg4Vl4LZ", "name": "Postgres account"}}}, {"parameters": {"jsCode": "return [{ json: {\n  branch_code: 'tbilisi',\n  branch_id: '277eaada-1428-4c04-9cd7-5e614e43bedc',\n  branch_label: 'Tbilisi',\n  company_token: '91b83b93963633649f29a04b612bab3f9fbb0471b5928622'\n} }];"}, "name": "Tbilisi Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [368, 48], "id": "5d60c17d-9eb3-46ae-aa5d-7d552bf9574f"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/get_token", "sendQuery": true, "queryParameters": {"parameters": [{"name": "company_token", "value": "={{ $json.company_token }}"}]}, "options": {}}, "name": "Get Tbilisi Token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 48], "id": "c46b4726-c9af-4ff2-b0e8-4c543502636e"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/all_cars_full", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $node[\"Get Tbilisi Token\"].json.token }}"}, {"name": "Accept", "value": "application/json, text/plain, */*"}, {"name": "Origin", "value": "https://web.rentprog.ru"}, {"name": "Referer", "value": "https://web.rentprog.ru/"}, {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]}, "options": {}}, "name": "Fetch Tbilisi Cars", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 48], "id": "cd8e873d-a644-48fe-b72e-6fe0fe6fd540"}, {"parameters": {"jsCode": "const data = $json;\nreturn [{ json: {\n  branch_code: 'tbilisi',\n  branch_id: '277eaada-1428-4c04-9cd7-5e614e43bedc',\n  branch_label: 'Tbilisi',\n  cars: data\n} }];"}, "name": "Wrap Tbilisi Cars", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 48], "id": "578e135f-fc3d-4f94-9b4f-95ca7b81911e"}, {"parameters": {"jsCode": "return [{ json: {\n  branch_code: 'batumi',\n  branch_id: '627c4c88-d8a1-47bf-b9a6-2e9ad33112a4',\n  branch_label: 'Batumi',\n  company_token: '7ad345720f8d92f10c187122427c6a2c2bb9494c6bf14e8d'\n} }];"}, "name": "Batumi Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [368, 192], "id": "d2d39cda-1230-4210-93fd-26a0ddfea095"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/get_token", "sendQuery": true, "queryParameters": {"parameters": [{"name": "company_token", "value": "={{ $json.company_token }}"}]}, "options": {}}, "name": "Get Batumi Token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 192], "id": "dcc01168-2d9d-4f17-9177-7d2ba41a29e5"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/all_cars_full", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $node[\"Get Batumi Token\"].json.token }}"}, {"name": "Accept", "value": "application/json, text/plain, */*"}, {"name": "Origin", "value": "https://web.rentprog.ru"}, {"name": "Referer", "value": "https://web.rentprog.ru/"}, {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]}, "options": {}}, "name": "Fetch Batumi Cars", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 192], "id": "95e76ab9-eecf-4ebc-9db8-12b2c148ef35"}, {"parameters": {"jsCode": "const data = $json;\nreturn [{ json: {\n  branch_code: 'batumi',\n  branch_id: '627c4c88-d8a1-47bf-b9a6-2e9ad33112a4',\n  branch_label: 'Batumi',\n  cars: data\n} }];"}, "name": "Wrap Batumi Cars", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 192], "id": "c8cd6d0e-df93-4233-a7a6-908251a6cca6"}, {"parameters": {"jsCode": "return [{ json: {\n  branch_code: 'kutaisi',\n  branch_id: '5e551b32-934c-498f-a4a1-a90079985c0a',\n  branch_label: 'Kutaisi',\n  company_token: '5599ebb7b94827fdfd49ca3a5b7e259cfa99d8ea78edeb50'\n} }];"}, "name": "Kutaisi Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [368, 320], "id": "23d080ab-3bca-4e6e-890f-1af85b16ad95"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/get_token", "sendQuery": true, "queryParameters": {"parameters": [{"name": "company_token", "value": "={{ $json.company_token }}"}]}, "options": {}}, "name": "Get Kutaisi Token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 320], "id": "8c973f57-ea52-48ef-a6d1-fa00b2ea2593"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/all_cars_full", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $node[\"Get Kutaisi Token\"].json.token }}"}, {"name": "Accept", "value": "application/json, text/plain, */*"}, {"name": "Origin", "value": "https://web.rentprog.ru"}, {"name": "Referer", "value": "https://web.rentprog.ru/"}, {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]}, "options": {}}, "name": "Fetch Kutaisi Cars", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 320], "id": "8862fa04-827e-4150-adf5-bb59216dce41"}, {"parameters": {"jsCode": "const data = $json;\nreturn [{ json: {\n  branch_code: 'kutaisi',\n  branch_id: '5e551b32-934c-498f-a4a1-a90079985c0a',\n  branch_label: 'Kutaisi',\n  cars: data\n} }];"}, "name": "Wrap Kutaisi Cars", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 320], "id": "77319dab-6f82-42b5-bba3-84782db935e4"}, {"parameters": {"jsCode": "return [{ json: {\n  branch_code: 'service-center',\n  branch_id: '6026cff7-eee8-4fb9-be26-604f308911f0',\n  branch_label: 'Service Center',\n  company_token: '5y4j4gcs75o9n5s1e2vrxx4a'\n} }];"}, "name": "Service Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [368, 464], "id": "c3c940c0-802e-4f2e-b644-8e9bad7c3511"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/get_token", "sendQuery": true, "queryParameters": {"parameters": [{"name": "company_token", "value": "={{ $json.company_token }}"}]}, "options": {}}, "name": "Get Service Token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 464], "id": "a37ca4ae-e3c9-4fb5-a7e8-4fc5f098511c"}, {"parameters": {"url": "https://rentprog.net/api/v1/public/all_cars_full", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $node[\"Get Service Token\"].json.token }}"}, {"name": "Accept", "value": "application/json, text/plain, */*"}, {"name": "Origin", "value": "https://web.rentprog.ru"}, {"name": "Referer", "value": "https://web.rentprog.ru/"}, {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]}, "options": {}}, "name": "Fetch Service Cars", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 464], "id": "c77601bb-8add-4170-90bf-700754ba9fa0"}, {"parameters": {"jsCode": "const data = $json;\nreturn [{ json: {\n  branch_code: 'service-center',\n  branch_id: '6026cff7-eee8-4fb9-be26-604f308911f0',\n  branch_label: 'Service Center',\n  cars: data\n} }];"}, "name": "Wrap Service Cars", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 464], "id": "4267f6dd-b4fd-46e7-b0a5-a42f19523cde"}, {"parameters": {"jsCode": "=String.raw`const results = [];\nconst stats = { branches: {}, cars: 0 };\n\nfor (const item of $input.all()) {\n  const branchCode = item.json.branch_code || item.json.branch;\n  const branchId = item.json.branch_id;\n  const responseData = item.json.cars ?? item.json;\n\n  if (!stats.branches[branchCode]) {\n    stats.branches[branchCode] = { cars: 0 };\n  }\n\n  let cars = [];\n  if (Array.isArray(responseData)) {\n    cars = responseData;\n  } else if (Array.isArray(responseData.data)) {\n    cars = responseData.data;\n  } else if (Array.isArray(responseData.cars)) {\n    cars = responseData.cars;\n  } else if (Array.isArray(responseData.response)) {\n    cars = responseData.response;\n  } else if (responseData && typeof responseData === 'object') {\n    cars = [responseData];\n  }\n\n  stats.cars += cars.length;\n  stats.branches[branchCode].cars += cars.length;\n\n  for (const car of cars) {\n    const attrs = car.attributes || car;\n\n    results.push({ json: {\n      branch_code: branchCode,\n      branch_id: branchId,\n      rentprog_id: String(attrs.id || car.id),\n      car_name: attrs.car_name || attrs.name || null,\n      code: attrs.code || null,\n      number: attrs.number || null,\n      vin: attrs.vin || null,\n      color: attrs.color || null,\n      year: attrs.year ?? null,\n      transmission: attrs.transmission || null,\n      fuel: attrs.fuel || null,\n      car_type: attrs.car_type || null,\n      car_class: attrs.car_class || null,\n      active: attrs.active,\n      state: attrs.state,\n      tank_state: attrs.tank_state,\n      clean_state: attrs.clean_state,\n      mileage: attrs.mileage,\n      tire_type: attrs.tire_type,\n      tire_size: attrs.tire_size || null,\n      last_inspection: attrs.last_inspection || null,\n      deposit: attrs.deposit,\n      price_hour: attrs.price_hour,\n      hourly_deposit: attrs.hourly_deposit,\n      monthly_deposit: attrs.monthly_deposit,\n      investor_id: attrs.investor_id,\n      purchase_price: attrs.purchase_price,\n      purchase_date: attrs.purchase_date,\n      age_limit: attrs.age_limit,\n      driver_year_limit: attrs.driver_year_limit,\n      franchise: attrs.franchise,\n      max_fine: attrs.max_fine,\n      repair_cost: attrs.repair_cost,\n      is_air: attrs.is_air,\n      climate_control: attrs.climate_control,\n      parktronic: attrs.parktronic,\n      parktronic_camera: attrs.parktronic_camera,\n      heated_seats: attrs.heated_seats,\n      audio_system: attrs.audio_system,\n      usb_system: attrs.usb_system,\n      rain_sensor: attrs.rain_sensor,\n      engine_capacity: attrs.engine_capacity,\n      number_doors: attrs.number_doors,\n      tank_value: attrs.tank_value,\n      pts: attrs.pts,\n      registration_certificate: attrs.registration_certificate,\n      body_number: attrs.body_number,\n      data: attrs\n    } });\n  }\n}\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.carStats = stats;\n\nif (!results.length) results.push({ json: { __statsOnly: true } });\n\nreturn results;`"}, "name": "Normalize Cars", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1840, 304], "id": "96519103-08d8-413d-a450-1ab358e51bb8"}, {"parameters": {"jsCode": "const stats = $getWorkflowStaticData('global').carStats || {};\nconst total = stats.cars || 0;\nconst branchSummary = Object.entries(stats.branches || {}).map(([branch, data]) => `${branch}: ${data.cars || 0}`).join(', ');\nconst message = total > 0\n  ? `🚗 Синхронизация автомобилей RentProg\\nВсего авто: ${total}\\nФилиалы: ${branchSummary || 'нет данных'}`\n  : 'ℹ️ Синхронизация автомобилей RentProg\\nНовых данных не обнаружено';\nreturn [{ json: { message, stats, total_cars: total, error: false } }];"}, "name": "Format Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2944, 304], "id": "bbb3bd8e-bcf1-48d6-aa43-75d265b4d7ea"}, {"parameters": {"conditions": {"conditions": [{"id": "has-error", "leftValue": "={{ $json.error }}", "rightValue": true, "operator": {"type": "boolean", "operation": "isTrue"}}], "combinator": "and", "options": {"caseSensitive": true, "typeValidation": "strict", "version": 1}}, "options": {}}, "name": "If Error", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3168, 304], "id": "76ccea0d-75ad-45ba-b3e6-03e51f3d3c75"}, {"parameters": {"operation": "sendMessage", "chatId": {"__rl": true, "mode": "expression", "value": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}"}, "text": "={{ $json.message + \"\\n\\n🔗 <a href=\\\"https://n8n.rentflow.rentals/workflow/\" + $workflow.id + \"/executions/\" + $execution.id + \"\\\">Открыть execution</a>\" }}", "additionalFields": {"appendAttribution": false, "parse_mode": "HTML"}}, "name": "Send Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [3392, 208], "id": "6b996bf5-e7cf-446d-af67-b6434fac0a4d", "webhookId": "0475c474-b2f9-4bd0-b95d-1a77ab0031c6", "credentials": {"telegramApi": {"id": "1tKryXxL5Gq395nN", "name": "Telegram account"}}}, {"parameters": {}, "name": "Success", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [3392, 400], "id": "39f2bc55-f107-4558-a111-a9d8b5bf1d5a"}, {"parameters": {"numberInputs": 4}, "name": "Merge All Branches", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [1488, 224], "id": "55c25bfc-7566-4180-9681-083ef3d58dae"}, {"parameters": {"conditions": {"conditions": [{"id": "check-stats-only", "leftValue": "={{ $json.__statsOnly || false }}", "rightValue": true, "operator": {"type": "boolean", "operation": "isTrue"}}], "combinator": "and", "options": {"caseSensitive": true, "typeValidation": "strict", "version": 1}}, "options": {}}, "name": "Has Data?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2064, 304], "id": "has-data-node"}, {"parameters": {"jsCode": "// Удаляем все поля связанные с ценами из данных перед сохранением в cars\n// Цены хранятся в отдельной таблице car_prices, а не в cars\nconst items = [];\nconst priceFields = ['price_values', 'prices', 'seasons', 'price_periods'];\n\nfor (const item of $input.all()) {\n  const json = { ...item.json };\n  \n  // Удаляем все поля связанные с ценами из корневого уровня\n  priceFields.forEach(field => {\n    delete json[field];\n  });\n  \n  // Также удаляем из вложенного объекта data, если он есть\n  if (json.data && typeof json.data === 'object') {\n    if (Array.isArray(json.data)) {\n      json.data = json.data.map(dataItem => {\n        if (dataItem && typeof dataItem === 'object') {\n          const cleaned = { ...dataItem };\n          priceFields.forEach(field => {\n            delete cleaned[field];\n          });\n          return cleaned;\n        }\n        return dataItem;\n      });\n    } else {\n      const cleanedData = { ...json.data };\n      priceFields.forEach(field => {\n        delete cleanedData[field];\n      });\n      json.data = cleanedData;\n    }\n  }\n  \n  items.push({ json });\n}\nreturn items;"}, "name": "Remove Price Values", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2438, 304], "id": "remove-price-values-96e95fee"}], "connections": {"Daily Trigger": {"main": [[{"node": "Tbilisi Context", "type": "main", "index": 0}, {"node": "Batumi Context", "type": "main", "index": 0}, {"node": "Kutaisi Context", "type": "main", "index": 0}, {"node": "Service Context", "type": "main", "index": 0}]]}, "Tbilisi Context": {"main": [[{"node": "Get Tbilisi Token", "type": "main", "index": 0}]]}, "Get Tbilisi Token": {"main": [[{"node": "Fetch Tbilisi Cars", "type": "main", "index": 0}]]}, "Fetch Tbilisi Cars": {"main": [[{"node": "Wrap Tbilisi Cars", "type": "main", "index": 0}]]}, "Wrap Tbilisi Cars": {"main": [[{"node": "Merge All Branches", "type": "main", "index": 0}]]}, "Batumi Context": {"main": [[{"node": "Get Batumi Token", "type": "main", "index": 0}]]}, "Get Batumi Token": {"main": [[{"node": "Fetch Batumi Cars", "type": "main", "index": 0}]]}, "Fetch Batumi Cars": {"main": [[{"node": "Wrap Batumi Cars", "type": "main", "index": 0}]]}, "Wrap Batumi Cars": {"main": [[{"node": "Merge All Branches", "type": "main", "index": 1}]]}, "Kutaisi Context": {"main": [[{"node": "Get Kutaisi Token", "type": "main", "index": 0}]]}, "Get Kutaisi Token": {"main": [[{"node": "Fetch Kutaisi Cars", "type": "main", "index": 0}]]}, "Fetch Kutaisi Cars": {"main": [[{"node": "Wrap Kutaisi Cars", "type": "main", "index": 0}]]}, "Wrap Kutaisi Cars": {"main": [[{"node": "Merge All Branches", "type": "main", "index": 2}]]}, "Service Context": {"main": [[{"node": "Get Service Token", "type": "main", "index": 0}]]}, "Get Service Token": {"main": [[{"node": "Fetch Service Cars", "type": "main", "index": 0}]]}, "Fetch Service Cars": {"main": [[{"node": "Wrap Service Cars", "type": "main", "index": 0}]]}, "Wrap Service Cars": {"main": [[{"node": "Merge All Branches", "type": "main", "index": 3}]]}, "Normalize Cars": {"main": [[{"node": "Has Data?", "type": "main", "index": 0}]]}, "Save Snapshot": {"main": [[{"node": "Remove Price Values", "type": "main", "index": 0}]]}, "Format Result": {"main": [[{"node": "If Error", "type": "main", "index": 0}]]}, "If Error": {"main": [[{"node": "Send Alert", "type": "main", "index": 0}], [{"node": "Success", "type": "main", "index": 0}]]}, "Merge All Branches": {"main": [[{"node": "Normalize Cars", "type": "main", "index": 0}]]}, "Has Data?": {"main": [[{"node": "Format Result", "type": "main", "index": 0}], [{"node": "Save Snapshot", "type": "main", "index": 0}]]}, "Save Cars": {"main": [[{"node": "Format Result", "type": "main", "index": 0}]]}, "Remove Price Values": {"main": [[{"node": "Save Cars", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Asia/Tbilisi", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "saveExecutionProgress": true, "saveManualExecutions": true}}