n8n-workflows/active-bookings-hourly-sync-simple.json
{
  "name": "Парсинг активных броней раз в час",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ],
          "hours": {
            "start": 8,
            "end": 23
          }
        },
        "timezone": "Asia/Tbilisi"
      },
      "id": "cron-hourly",
      "name": "Every hour (8-23)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Триггер запускает workflow каждый час с 8:00 до 23:00 для синхронизации активных бронирований"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_URL || 'http://46.224.17.15:3000' }}/sync-bookings",
        "sendBody": false,
        "options": {
          "timeout": 3600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-jarvis-api",
      "name": "Call Jarvis API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "notes": "Вызывает Jarvis API endpoint /sync-bookings для синхронизации всех бронирований (активных и неактивных) из всех филиалов RentProg. Endpoint автоматически собирает все страницы с пагинацией и сохраняет в БД."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Форматирование отчета о синхронизации\nconst response = $input.all()[0].json;\n\nconst timestamp = new Date().toLocaleString('ru-RU', { timeZone: 'Asia/Tbilisi' });\n\nlet reportText = `📊 СИНХРОНИЗАЦИЯ БРОНИРОВАНИЙ\\n`;\nreportText += `Время: ${timestamp}\\n\\n`;\n\nif (response.success) {\n  reportText += `✅ Статус: Успешно\\n`;\n  reportText += `📦 Всего обработано: ${response.summary.total_bookings} бронирований\\n`;\n  reportText += `➕ Создано новых: ${response.summary.total_created}\\n`;\n  reportText += `🔄 Обновлено: ${response.summary.total_updated}\\n`;\n  reportText += `❌ Ошибок: ${response.summary.total_errors}\\n\\n`;\n  \n  reportText += `📋 По филиалам:\\n`;\n  if (response.per_branch) {\n    response.per_branch.forEach(branch => {\n      const status = branch.errors === 0 ? '✅' : '⚠️';\n      reportText += `${status} ${branch.branch.toUpperCase()}: ${branch.total} (создано: ${branch.created}, обновлено: ${branch.updated}, ошибок: ${branch.errors})\\n`;\n    });\n  }\n  \n  if (response.summary.total_errors > 0) {\n    reportText += `\\n⚠️ Обнаружено ${response.summary.total_errors} ошибок. Проверьте логи для деталей.`;\n  }\n} else {\n  reportText += `❌ Статус: Ошибка\\n`;\n  reportText += `Ошибка: ${response.error || 'Неизвестная ошибка'}\\n`;\n}\n\nreturn {\n  json: {\n    reportText,\n    success: response.success,\n    total: response.summary?.total_bookings || 0,\n    errors: response.summary?.total_errors || 0\n  }\n};"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Форматирует ответ от Jarvis API в читаемый отчет для Telegram. Включает статистику по филиалам и общую информацию."
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID || '-5004140602' }}",
        "text": "={{ $json.reportText }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_alert_bot",
          "name": "Telegram Alert Bot"
        }
      },
      "notes": "Отправляет отчет о синхронизации в Telegram."
    }
  ],
  "connections": {
    "Every hour (8-23)": {
      "main": [
        [
          {
            "node": "Call Jarvis API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Jarvis API": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tbilisi"
  }
}

