n8n-workflows/amocrm-deals-scraper.json
{
  "name": "AmoCRM Deals Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "amocrm-cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(updated_at) as last_sync FROM amocrm_deals",
        "options": {}
      },
      "id": "get-last-sync",
      "name": "Get Last Sync Time",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [470, 120],
      "credentials": {
        "postgres": {
          "id": "neon-postgres",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://playwright-amocrm:3002/api/deals?pipeline_id=8580102&status_id=142&limit=250{{ $json.last_sync ? '&updated_since=' + $json.last_sync : '' }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-successful-deals",
      "name": "Get Successful Deals (142)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "url": "=http://playwright-amocrm:3002/api/deals?pipeline_id=8580102&status_id=143&limit=250{{ $json.last_sync ? '&updated_since=' + $json.last_sync : '' }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-unsuccessful-deals",
      "name": "Get Unsuccessful Deals (143)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "jsCode": "// Объединяем успешные и неуспешные сделки\nconst successful = $input.all()[1].json.deals || [];\nconst unsuccessful = $input.all()[2].json.deals || [];\n\nconst allDeals = [\n  ...successful.map(d => ({ ...d, status_label: 'successful' })),\n  ...unsuccessful.map(d => ({ ...d, status_label: 'unsuccessful' }))\n];\n\nreturn allDeals.map(d => ({ json: d }));"
      },
      "id": "merge-deals",
      "name": "Merge Deals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-deals",
      "name": "Loop Through Deals",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "url": "=http://playwright-amocrm:3002/api/deals/{{ $json.id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-deal-details",
      "name": "Get Deal Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "url": "=http://playwright-amocrm:3002/api/deals/{{ $json.id }}/notes",
        "authentication": "none",
        "options": {}
      },
      "id": "get-deal-notes",
      "name": "Get Deal Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные из сделки\nconst deal = $input.all()[1].json;\nconst notes = $input.all()[2].json.data || [];\n\n// Извлекаем телефон из контактов\nconst contacts = deal._embedded?.contacts || [];\nconst phone = contacts[0]?.custom_fields_values\n  ?.find(f => f.field_code === 'PHONE')\n  ?.values[0]?.value;\n\n// Извлекаем custom fields\nconst customFields = {};\ndeal.custom_fields_values?.forEach(f => {\n  customFields[f.field_name] = f.values[0]?.value;\n});\n\nreturn [{\n  json: {\n    deal,\n    notes,\n    phone: phone || '',\n    contactName: contacts[0]?.name || '',\n    customFields\n  }\n}];"
      },
      "id": "extract-deal-data",
      "name": "Extract Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert client by phone\nWITH client_upsert AS (\n  INSERT INTO clients (id, phone, name, email, updated_at)\n  VALUES (gen_random_uuid(), $1, $2, NULL, now())\n  ON CONFLICT (phone) DO UPDATE\n  SET name = COALESCE(EXCLUDED.name, clients.name),\n      updated_at = now()\n  RETURNING id\n),\n-- Add external refs (AmoCRM + RentProg)\namocrm_ref AS (\n  INSERT INTO external_refs (entity_type, entity_id, system, external_id)\n  SELECT 'client', client_upsert.id, 'amocrm', $3\n  FROM client_upsert\n  ON CONFLICT (entity_type, system, external_id) DO NOTHING\n),\nrentprog_ref AS (\n  INSERT INTO external_refs (entity_type, entity_id, system, external_id)\n  SELECT 'client', client_upsert.id, 'rentprog', $4\n  FROM client_upsert\n  WHERE $4 IS NOT NULL AND $4 != ''\n  ON CONFLICT (entity_type, system, external_id) DO NOTHING\n),\n-- Upsert AmoCRM deal\ndeal_upsert AS (\n  INSERT INTO amocrm_deals (\n    id, client_id, amocrm_deal_id, pipeline_id, status_id, status_label,\n    price, created_at, closed_at, custom_fields, notes_count, updated_at\n  )\n  SELECT \n    gen_random_uuid(), client_upsert.id, $5, $6, $7, $8,\n    $9, $10, $11, $12::jsonb, $13, now()\n  FROM client_upsert\n  ON CONFLICT (amocrm_deal_id) DO UPDATE\n  SET status_id = EXCLUDED.status_id,\n      status_label = EXCLUDED.status_label,\n      closed_at = EXCLUDED.closed_at,\n      custom_fields = EXCLUDED.custom_fields,\n      notes_count = EXCLUDED.notes_count,\n      updated_at = now()\n  RETURNING id\n)\nSELECT * FROM deal_upsert;",
        "options": {}
      },
      "id": "upsert-deal",
      "name": "Upsert Client & Deal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2010, 300],
      "credentials": {
        "postgres": {
          "id": "neon-postgres",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовить notes как messages\nconst dealId = $input.first().json.id;\nconst clientId = $input.first().json.client_id;\nconst notes = $input.all()[1].json.notes || [];\n\n// Фильтруем только текстовые примечания\nconst messageNotes = notes.filter(n => \n  ['common', 'call_in', 'call_out'].includes(n.note_type)\n);\n\nreturn messageNotes.map(n => ({\n  json: {\n    client_id: clientId,\n    conversation_id: null,\n    text: n.params?.text || '',\n    direction: n.note_type === 'call_in' ? 'incoming' : 'outgoing',\n    channel: 'amocrm_note',\n    sent_at: new Date(n.created_at * 1000).toISOString(),\n    metadata: JSON.stringify({\n      note_type: n.note_type,\n      amocrm_note_id: n.id\n    })\n  }\n}));"
      },
      "id": "prepare-notes-as-messages",
      "name": "Prepare Notes as Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "messages",
        "columns": "client_id, conversation_id, text, direction, channel, sent_at, metadata",
        "options": {
          "skipOnConflict": true
        }
      },
      "id": "insert-notes-as-messages",
      "name": "Insert Notes as Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2450, 300],
      "credentials": {
        "postgres": {
          "id": "neon-postgres",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update sync state\nINSERT INTO sync_state (workflow_name, system, last_sync_at, last_marker, status, items_processed, items_added, metadata)\nVALUES ('amocrm_deals_scraper', 'amocrm', now(), now()::text, 'success', $1, $2, '{}'::jsonb)\nON CONFLICT (workflow_name, system) DO UPDATE\nSET last_sync_at = now(), last_marker = now()::text, status = 'success', items_processed = EXCLUDED.items_processed, items_added = EXCLUDED.items_added;",
        "options": {}
      },
      "id": "update-sync-state-amocrm",
      "name": "Update Sync State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2670, 300],
      "credentials": {
        "postgres": {
          "id": "neon-postgres",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "content": "✅ AmoCRM Deals Scraper\n\nСинхронизация: каждые 30 минут\n\nШаги:\n1. Get last sync timestamp\n2. Get successful deals (status 142)\n3. Get unsuccessful deals (status 143)\n4. Merge both\n5. For each deal:\n   - Get deal details (with contacts)\n   - Get notes\n   - Extract data (phone, custom fields)\n   - Upsert client (by phone)\n   - Add external_refs (amocrm + rentprog)\n   - Upsert deal\n   - Insert notes as messages\n6. Update sync_state\n\nPlaywright Service: http://playwright-amocrm:3002\n\nПоля custom_fields:\n- rentprog_client_id\n- rentprog_booking_id",
        "height": 440,
        "width": 380
      },
      "id": "sticky-note-amocrm",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 520]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get Last Sync Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sync Time": {
      "main": [
        [
          {
            "node": "Get Successful Deals (142)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unsuccessful Deals (143)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Successful Deals (142)": {
      "main": [
        [
          {
            "node": "Merge Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unsuccessful Deals (143)": {
      "main": [
        [
          {
            "node": "Merge Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deals": {
      "main": [
        [
          {
            "node": "Loop Through Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Deals": {
      "main": [
        [
          {
            "node": "Get Deal Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Details": {
      "main": [
        [
          {
            "node": "Get Deal Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Notes": {
      "main": [
        [
          {
            "node": "Extract Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deal Data": {
      "main": [
        [
          {
            "node": "Upsert Client & Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Client & Deal": {
      "main": [
        [
          {
            "node": "Prepare Notes as Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notes as Messages": {
      "main": [
        [
          {
            "node": "Insert Notes as Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Notes as Messages": {
      "main": [
        [
          {
            "node": "Loop Through Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync State": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "Asia/Tbilisi",
    "executionTimeout": 3600
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-09T00:00:00.000Z",
  "versionId": "1"
}

