n8n-workflows/battery-voltage-alerts.json
{
  "name": "Battery Voltage Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "battery-voltage-alerts",
        "responseMode": "responseNode",
        "options": {
          "productionUrl": "https://webhook.rentflow.rentals"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "battery-voltage-alerts"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID || '-5004140602' }}",
        "text": "={{ $json.body.message || $json.message || '⚠️ Battery voltage alert' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [464, 300],
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Alert sent\" } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [688, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Send Telegram Alert", "type": "main", "index": 0}]]
    },
    "Send Telegram Alert": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Respond to Webhook": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "timezone": "Asia/Tbilisi"
  }
}

