n8n-workflows/cars-parser-from-template.json
{
  "name": "✅ Парсинг HTML страницы автомобилей раз в час",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 3 Minutes",
      "position": [
        240,
        400
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'tbilisi', token: TOKENS.tbilisi, page: 1 } }];"
      },
      "id": "prep-tbilisi",
      "name": "Tbilisi Pages",
      "position": [
        448,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'batumi', token: TOKENS.batumi, page: 1 } }];"
      },
      "id": "prep-batumi",
      "name": "Batumi Pages",
      "position": [
        448,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'kutaisi', token: TOKENS.kutaisi, page: 1 } }];"
      },
      "id": "prep-kutaisi",
      "name": "Kutaisi Pages",
      "position": [
        448,
        512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'service-center', token: TOKENS['service-center'], page: 1 } }];"
      },
      "id": "prep-service",
      "name": "Service Pages",
      "position": [
        448,
        656
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rentprog.net/api/v1/public/cars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-tbilisi",
      "name": "Get Tbilisi",
      "position": [
        640,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rentprog.net/api/v1/public/cars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-batumi",
      "name": "Get Batumi",
      "position": [
        640,
        352
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rentprog.net/api/v1/public/cars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-kutaisi",
      "name": "Get Kutaisi",
      "position": [
        640,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rentprog.net/api/v1/public/cars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-service",
      "name": "Get Service",
      "position": [
        640,
        656
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const branch = item.json.branch;\n  const responseData = item.json;\n  \n  // API возвращает массив cars или объект с data.cars\n  let carsData = [];\n  \n  if (Array.isArray(responseData)) {\n    carsData = responseData;\n  } else if (responseData.data && Array.isArray(responseData.data)) {\n    carsData = responseData.data;\n  } else if (responseData.cars && Array.isArray(responseData.cars)) {\n    carsData = responseData.cars;\n  }\n  \n  if (carsData.length === 0) {\n    results.push({\n      json: {\n        branch: branch,\n        error: true,\n        error_message: 'No cars data in response'\n      }\n    });\n    continue;\n  }\n  \n  // Обрабатываем каждый автомобиль\n  for (const car of carsData) {\n    results.push({\n      json: {\n        branch: branch,\n        rentprog_id: car.id,\n        car_name: car.name || car.car_name,\n        code: car.code,\n        number: car.number,\n        color: car.color,\n        year: car.year,\n        price: car.price || 0,\n        deposit: car.deposit || 0,\n        data: car,\n        error: false\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "merge-and-process",
      "name": "Merge & Process",
      "position": [
        848,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cars (\n  branch, rentprog_id, car_name, code, number, color, year, price, deposit, is_active, data\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, true, $10::jsonb\n)\nON CONFLICT (branch, rentprog_id) \nDO UPDATE SET\n  car_name = EXCLUDED.car_name,\n  code = EXCLUDED.code,\n  number = EXCLUDED.number,\n  color = EXCLUDED.color,\n  year = EXCLUDED.year,\n  price = EXCLUDED.price,\n  deposit = EXCLUDED.deposit,\n  is_active = EXCLUDED.is_active,\n  data = EXCLUDED.data,\n  updated_at = NOW()\nRETURNING id;",
        "options": {}
      },
      "id": "save-history",
      "name": "Save to Cars",
      "position": [
        1024,
        400
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "3I9fyXVlGg4Vl4LZ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Проверяем ошибки сохранения в БД и объединяем с исходными данными\nconst originalData = $('Merge & Process').all();\nconst saveResults = $input.all();\n\n// Создаем мапу для быстрого поиска ошибок сохранения\nconst saveErrors = {};\n\n// Проверяем результаты сохранения\nsaveResults.forEach((result, index) => {\n  // Проверяем различные форматы ошибок от Postgres node с continueOnFail\n  const hasError = result.error || \n                   (result.json && result.json.error) ||\n                   (result.json && result.json.message && result.json.message.includes('error')) ||\n                   (result.json && !result.json.success && result.json.success !== undefined);\n  \n  if (hasError) {\n    // Пытаемся найти соответствующий элемент из исходных данных\n    const originalItem = originalData[index];\n    let branch = null;\n    \n    if (originalItem && originalItem.json && originalItem.json.branch) {\n      branch = originalItem.json.branch;\n    } else {\n      // Если не можем найти branch из исходных данных, пробуем из всех\n      const allBranches = ['tbilisi', 'batumi', 'kutaisi', 'service-center'];\n      branch = allBranches[index % allBranches.length];\n    }\n    \n    if (branch) {\n      if (!saveErrors[branch]) saveErrors[branch] = [];\n      saveErrors[branch].push({\n        error: true,\n        error_reason: 'db_save_error',\n        error_message: result.error?.message || result.json?.error?.message || result.json?.message || 'Ошибка сохранения в БД'\n      });\n    }\n  }\n});\n\n// Объединяем исходные данные с ошибками сохранения\nconst combined = [...originalData];\n\n// Добавляем ошибки сохранения для каждого филиала\nObject.keys(saveErrors).forEach(branch => {\n  saveErrors[branch].forEach(err => {\n    combined.push({ json: { branch, ...err } });\n  });\n});\n\nreturn combined;"
      },
      "id": "pass-through-data",
      "name": "Pass Through Data",
      "position": [
        1168,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.all();\nconst successCount = saved.filter(s => !s.json.error && s.json.operation_id).length;\nconst errorCount = saved.filter(s => s.json.error).length;\n\nconst byBranch = {};\nconst errorDetails = {};\n\nsaved.forEach(item => {\n  if (item.json.branch) {\n    const branch = item.json.branch;\n    if (!byBranch[branch]) byBranch[branch] = { success: 0, error: 0 };\n    \n    if (item.json.error) {\n      byBranch[branch].error++;\n      if (!errorDetails[branch]) errorDetails[branch] = [];\n      errorDetails[branch].push({\n        reason: item.json.error_reason || 'unknown',\n        message: item.json.error_message || 'Неизвестная ошибка'\n      });\n    } else if (item.json.operation_id) {\n      byBranch[branch].success++;\n    }\n  }\n});\n\nlet message = '📜 Парсинг истории операций по филиалам раз в 3 минуты:\\n';\nObject.keys(byBranch).forEach(branch => {\n  const stats = byBranch[branch];\n  message += `${branch.toUpperCase()}: ${stats.success} ✓`;\n  if (stats.error > 0) {\n    message += ` / ${stats.error} ✗`;\n    if (errorDetails[branch]) {\n      const uniqueErrors = [...new Set(errorDetails[branch].map(e => e.message))];\n      uniqueErrors.forEach(errMsg => {\n        message += `\\n  ❌ ${errMsg}`;\n      });\n    }\n  }\n  message += '\\n';\n});\nmessage += `\\nВсего: ${successCount} операций / ${saved.length} записей`;\nif (errorCount > 0) {\n  message += `\\n\\n🚨 ОШИБОК: ${errorCount}`;\n}\n\nreturn [{ json: { message, success: errorCount === 0, saved_count: successCount, error_count: errorCount, by_branch: byBranch, error_details: errorDetails } }];"
      },
      "id": "format-result",
      "name": "Format Result",
      "position": [
        1328,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error_count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 1,
              "id": "a8d461ac-15b2-4191-a7ed-896eadc18115"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error",
      "name": "If Error",
      "position": [
        1488,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "=-1003484642420",
        "text": "={{ $json.message }}\n\n🔗 <a href=\"https://n8n.rentflow.rentals/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\">Открыть execution</a>",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-alert",
      "name": "Send Alert",
      "position": [
        1680,
        288
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "fefbafdd-c6d9-43ac-83fd-9bb584e468bd",
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Помечаем workflow как ошибочный, выбрасывая ошибку\nconst errorData = $input.first().json;\nconst errorMessage = errorData.message || 'Ошибка парсинга истории операций';\nthrow new Error(errorMessage);"
      },
      "id": "throw-error",
      "name": "Throw Error",
      "position": [
        1856,
        288
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "e8f10fa0-a3f6-4f66-9d6a-0f85c703a26c",
      "name": "Success",
      "position": [
        1712,
        496
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 3 Minutes": {
      "main": [
        [
          {
            "node": "Tbilisi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Batumi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kutaisi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Service Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tbilisi Pages": {
      "main": [
        [
          {
            "node": "Get Tbilisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batumi Pages": {
      "main": [
        [
          {
            "node": "Get Batumi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kutaisi Pages": {
      "main": [
        [
          {
            "node": "Get Kutaisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Pages": {
      "main": [
        [
          {
            "node": "Get Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tbilisi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batumi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Kutaisi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Service": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge & Process": {
      "main": [
        [
          {
            "node": "Save to Cars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Data": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "If Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Throw Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cars": {
      "main": [
        [
          {
            "node": "Pass Through Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Tbilisi",
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 3 Minutes": {
      "recurrenceRules": []
    },
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-07T20:19:36.893Z",
      "createdAt": "2025-11-07T20:19:36.893Z",
      "role": "workflow:owner",
      "workflowId": "xSjwtwrrWUGcBduU",
      "projectId": "YeYimRJroeGbDN4w",
      "project": {
        "updatedAt": "2025-10-31T22:08:34.100Z",
        "createdAt": "2025-10-31T21:59:17.618Z",
        "id": "YeYimRJroeGbDN4w",
        "name": "Aleksey Eliseev <33pokrov33@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-31T21:59:17.618Z",
            "createdAt": "2025-10-31T21:59:17.618Z",
            "userId": "7d62b373-201b-47f3-859a-cdc69ddea44a",
            "projectId": "YeYimRJroeGbDN4w",
            "user": {
              "updatedAt": "2025-11-14T07:37:35.933Z",
              "createdAt": "2025-10-31T21:58:30.097Z",
              "id": "7d62b373-201b-47f3-859a-cdc69ddea44a",
              "email": "33pokrov33@gmail.com",
              "firstName": "Aleksey",
              "lastName": "Eliseev",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-31T22:14:18.419Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "gNXRKIQpNubEazH7",
                "userActivatedAt": 1762108796654,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}