n8n-workflows/query-exchange-rates-tool.json
{
  "name": "Query Exchange Rates Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем параметры от AI Agent\nconst branch = $json.branch || 'tbilisi';\nconst date = $json.date || null;\n\nconsole.log(`Query: branch=${branch}, date=${date}`);\n\nreturn [{\n  json: {\n    branch,\n    date\n  }\n}];"
      },
      "id": "prepare-params",
      "name": "Prepare Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \n  const branch = $json.branch;\n  const date = $json.date;\n  \n  if (branch === 'all') {\n    return `\n      SELECT DISTINCT ON (branch)\n        branch,\n        gel_to_usd,\n        gel_to_eur,\n        gel_to_rub,\n        usd_to_gel,\n        eur_to_gel,\n        rub_to_gel,\n        ts\n      FROM exchange_rates\n      ORDER BY branch, ts DESC\n    `;\n  } else if (date) {\n    return `\n      SELECT \n        branch,\n        gel_to_usd,\n        gel_to_eur,\n        gel_to_rub,\n        usd_to_gel,\n        eur_to_gel,\n        rub_to_gel,\n        ts\n      FROM exchange_rates\n      WHERE branch = '${branch}'\n        AND DATE(ts) = '${date}'\n      ORDER BY ts DESC\n      LIMIT 1\n    `;\n  } else {\n    return `\n      SELECT \n        branch,\n        gel_to_usd,\n        gel_to_eur,\n        gel_to_rub,\n        usd_to_gel,\n        eur_to_gel,\n        rub_to_gel,\n        ts\n      FROM exchange_rates\n      WHERE branch = '${branch}'\n      ORDER BY ts DESC\n      LIMIT 1\n    `;\n  }\n}}",
        "options": {}
      },
      "id": "query-db",
      "name": "Query Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-neon",
          "name": "PostgreSQL Neon"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.branch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Check Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Форматируем результат для AI Agent\nconst results = $input.all();\n\nif (results.length === 0) {\n  return [{\n    json: {\n      error: 'No exchange rates found',\n      message: 'В базе данных нет курсов валют для указанного филиала/даты'\n    }\n  }];\n}\n\nconst formatted = results.map(r => ({\n  branch: r.json.branch,\n  rates: {\n    gel_to_usd: parseFloat(r.json.gel_to_usd || 0).toFixed(4),\n    gel_to_eur: parseFloat(r.json.gel_to_eur || 0).toFixed(4),\n    gel_to_rub: parseFloat(r.json.gel_to_rub || 0).toFixed(4),\n    usd_to_gel: parseFloat(r.json.usd_to_gel || 0).toFixed(4),\n    eur_to_gel: parseFloat(r.json.eur_to_gel || 0).toFixed(4),\n    rub_to_gel: parseFloat(r.json.rub_to_gel || 0).toFixed(4)\n  },\n  timestamp: r.json.ts\n}));\n\nreturn [{\n  json: {\n    ok: true,\n    count: formatted.length,\n    data: formatted\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Prepare Params').first().json;\n\nreturn [{\n  json: {\n    error: 'No data found',\n    message: `Курсы валют для филиала \"${params.branch}\"${params.date ? ` на дату ${params.date}` : ''} не найдены в базе данных`,\n    branch: params.branch,\n    date: params.date\n  }\n}];"
      },
      "id": "no-data-response",
      "name": "No Data Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Params": {
      "main": [
        [
          {
            "node": "Query Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Database": {
      "main": [
        [
          {
            "node": "Check Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Results": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tbilisi",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 3600
  }
}

