n8n-workflows/rentprog-history-parser-active.json
{
  "name": "Парсинг всех операций",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 3 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'tbilisi', token: TOKENS.tbilisi, page: 1 } }];"
      },
      "id": "prep-tbilisi",
      "name": "Tbilisi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'batumi', token: TOKENS.batumi, page: 1 } }];"
      },
      "id": "prep-batumi",
      "name": "Batumi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'kutaisi', token: TOKENS.kutaisi, page: 1 } }];"
      },
      "id": "prep-kutaisi",
      "name": "Kutaisi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'service-center', token: TOKENS['service-center'], page: 1 } }];"
      },
      "id": "prep-service",
      "name": "Service Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":100,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-tbilisi",
      "name": "Get Tbilisi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":100,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-batumi",
      "name": "Get Batumi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":100,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-kutaisi",
      "name": "Get Kutaisi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "https://web.rentprog.ru"
            },
            {
              "name": "Referer",
              "value": "https://web.rentprog.ru/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":100,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-service",
      "name": "Get Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        656
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Собираем ВСЕ responses со всех 4 филиалов и распаковываем operations\nconst processed = [];\n\n// Функция для обработки одного филиала с проверкой ошибок\nfunction processItems(items, branchName) {\n  if (!items || items.length === 0) {\n    processed.push({ json: { branch: branchName, error: true, error_reason: 'no_response', error_message: 'Нет ответа от API' } });\n    return;\n  }\n  \n  items.forEach(item => {\n    // Проверка на ошибку HTTP запроса\n    if (item.error) {\n      processed.push({ json: { branch: branchName, error: true, error_reason: 'http_error', error_message: item.error.message || 'HTTP ошибка' } });\n      return;\n    }\n    \n    // Проверка на ошибку в JSON\n    if (item.json?.error) {\n      processed.push({ json: { branch: branchName, error: true, error_reason: 'api_error', error_message: item.json.error.message || JSON.stringify(item.json.error) } });\n      return;\n    }\n    \n    // Проверка на таймаут (пустой ответ или статус ошибки)\n    if (!item.json || (item.json.statusCode && item.json.statusCode >= 400)) {\n      processed.push({ json: { branch: branchName, error: true, error_reason: 'timeout_or_error', error_message: `HTTP ${item.json?.statusCode || 'timeout'}` } });\n      return;\n    }\n    \n    const operations = item.json?.operations?.data || item.json?.data || [];\n    \n    // Если нет операций - это не ошибка, просто пустой ответ\n    if (operations.length === 0) {\n      processed.push({ json: { branch: branchName, status: 'no_data' } });\n      return;\n    }\n    \n    // Обрабатываем операции\n    operations.forEach(op_item => {\n      const op = op_item.attributes || op_item;\n      processed.push({\n        json: {\n          branch: branchName,\n          operation_type: op.operation_type || op.type || 'unknown',\n          operation_id: op.id ? String(op.id) : null,\n          description: op.description || '',\n          entity_type: op.entity_type || null,\n          entity_id: op.entity_id ? String(op.entity_id) : null,\n          user_name: op.user_name || null,\n          created_at: op.created_at || new Date().toISOString(),\n          raw_data: JSON.stringify(op)\n        }\n      });\n    });\n  });\n}\n\n// Обрабатываем все 4 филиала\nprocessItems($('Get Tbilisi').all(), 'tbilisi');\nprocessItems($('Get Batumi').all(), 'batumi');\nprocessItems($('Get Kutaisi').all(), 'kutaisi');\nprocessItems($('Get Service').all(), 'service-center');\n\nreturn processed;"
      },
      "id": "merge-and-process",
      "name": "Merge & Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO history (branch, operation_type, operation_id, description, entity_type, entity_id, user_name, created_at, raw_data, matched, processed) VALUES ('{{ $json.branch }}', '{{ ($json.operation_type || 'unknown').replace(/'/g, \"''\") }}', {{ $json.operation_id ? \"'\" + $json.operation_id + \"'\" : \"NULL\" }}, '{{ ($json.description || '').replace(/'/g, \"''\") }}', {{ $json.entity_type ? \"'\" + $json.entity_type.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $json.entity_id ? \"'\" + $json.entity_id + \"'\" : \"NULL\" }}, {{ $json.user_name ? \"'\" + $json.user_name.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, '{{ $json.created_at }}', '{{ ($json.raw_data || '{}').replace(/'/g, \"''\") }}'::jsonb, FALSE, FALSE) ON CONFLICT (branch, operation_id) DO UPDATE SET operation_type = EXCLUDED.operation_type, description = EXCLUDED.description, entity_type = EXCLUDED.entity_type, entity_id = EXCLUDED.entity_id, user_name = EXCLUDED.user_name, created_at = EXCLUDED.created_at, raw_data = EXCLUDED.raw_data, ts = NOW()",
        "options": {}
      },
      "id": "save-history",
      "name": "Save to History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "3I9fyXVlGg4Vl4LZ",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Проверяем ошибки сохранения в БД и объединяем с исходными данными\nconst originalData = $('Merge & Process').all();\nconst saveResults = $input.all();\n\n// Создаем мапу для быстрого поиска ошибок сохранения\nconst saveErrors = {};\n\n// Проверяем результаты сохранения\nsaveResults.forEach((result, index) => {\n  // Проверяем различные форматы ошибок от Postgres node с continueOnFail\n  const hasError = result.error || \n                   (result.json && result.json.error) ||\n                   (result.json && result.json.message && result.json.message.includes('error')) ||\n                   (result.json && !result.json.success && result.json.success !== undefined);\n  \n  if (hasError) {\n    // Пытаемся найти соответствующий элемент из исходных данных\n    const originalItem = originalData[index];\n    let branch = null;\n    \n    if (originalItem && originalItem.json && originalItem.json.branch) {\n      branch = originalItem.json.branch;\n    } else {\n      // Если не можем найти branch из исходных данных, пробуем из всех\n      const allBranches = ['tbilisi', 'batumi', 'kutaisi', 'service-center'];\n      branch = allBranches[index % allBranches.length];\n    }\n    \n    if (branch) {\n      if (!saveErrors[branch]) saveErrors[branch] = [];\n      saveErrors[branch].push({\n        error: true,\n        error_reason: 'db_save_error',\n        error_message: result.error?.message || result.json?.error?.message || result.json?.message || 'Ошибка сохранения в БД'\n      });\n    }\n  }\n});\n\n// Объединяем исходные данные с ошибками сохранения\nconst combined = [...originalData];\n\n// Добавляем ошибки сохранения для каждого филиала\nObject.keys(saveErrors).forEach(branch => {\n  saveErrors[branch].forEach(err => {\n    combined.push({ json: { branch, ...err } });\n  });\n});\n\nreturn combined;"
      },
      "id": "pass-through-data",
      "name": "Pass Through Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.all();\nconst successCount = saved.filter(s => !s.json.error && s.json.operation_id).length;\nconst errorCount = saved.filter(s => s.json.error).length;\n\nconst byBranch = {};\nconst errorDetails = {};\n\nsaved.forEach(item => {\n  if (item.json.branch) {\n    const branch = item.json.branch;\n    if (!byBranch[branch]) byBranch[branch] = { success: 0, error: 0 };\n    \n    if (item.json.error) {\n      byBranch[branch].error++;\n      if (!errorDetails[branch]) errorDetails[branch] = [];\n      errorDetails[branch].push({\n        reason: item.json.error_reason || 'unknown',\n        message: item.json.error_message || 'Неизвестная ошибка'\n      });\n    } else if (item.json.operation_id) {\n      byBranch[branch].success++;\n    }\n  }\n});\n\nlet message = '📜 HISTORY PARSER\\n';\nObject.keys(byBranch).forEach(branch => {\n  const stats = byBranch[branch];\n  message += `${branch.toUpperCase()}: ${stats.success} ✓`;\n  if (stats.error > 0) {\n    message += ` / ${stats.error} ✗`;\n    if (errorDetails[branch]) {\n      const uniqueErrors = [...new Set(errorDetails[branch].map(e => e.message))];\n      uniqueErrors.forEach(errMsg => {\n        message += `\\n  ❌ ${errMsg}`;\n      });\n    }\n  }\n  message += '\\n';\n});\nmessage += `\\nВсего: ${successCount} операций / ${saved.length} записей`;\nif (errorCount > 0) {\n  message += `\\n\\n🚨 ОШИБОК: ${errorCount}`;\n}\n\nreturn [{ json: { message, success: errorCount === 0, saved_count: successCount, error_count: errorCount, by_branch: byBranch, error_details: errorDetails } }];"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-error",
      "name": "If Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.message }}"
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        512
      ],
      "credentials": {
        "telegramApi": {
          "id": "nONqDN52rBYnhODp",
          "name": "Telegram Bot (@n8n_alert_geodrive_bot)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Помечаем workflow как ошибочный ТОЛЬКО если были ошибки\n// Проверяем данные из Format Result напрямую (независимо от Send Alert)\nlet errorData = null;\n\ntry {\n  // Получаем данные из Format Result напрямую\n  const formatResult = $('Format Result').first();\n  if (formatResult && formatResult.json) {\n    errorData = formatResult.json;\n  }\n} catch (e) {\n  // Если не получилось, пробуем из входа (от Send Alert)\n  try {\n    const input = $input.first();\n    if (input && input.json) {\n      errorData = input.json;\n    }\n  } catch (e2) {\n    // Если и это не получилось, используем дефолтное сообщение\n  }\n}\n\n// Выбрасываем ошибку ТОЛЬКО если были ошибки (success === false)\nif (errorData && errorData.success === false) {\n  const errorMessage = errorData.message || 'Ошибка парсинга истории операций';\n  throw new Error(errorMessage);\n}\n\n// Если ошибок не было, просто возвращаем данные (workflow завершится успешно)\nreturn $input.all();"
      },
      "id": "throw-error",
      "name": "Throw Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        512
      ]
    }
  ],
  "connections": {
    "Every 3 Minutes": {
      "main": [
        [
          {
            "node": "Tbilisi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Batumi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kutaisi Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Service Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tbilisi Pages": {
      "main": [
        [
          {
            "node": "Get Tbilisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batumi Pages": {
      "main": [
        [
          {
            "node": "Get Batumi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kutaisi Pages": {
      "main": [
        [
          {
            "node": "Get Kutaisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Pages": {
      "main": [
        [
          {
            "node": "Get Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tbilisi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batumi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Kutaisi": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Service": {
      "main": [
        [
          {
            "node": "Merge & Process",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge & Process": {
      "main": [
        [
          {
            "node": "Save to History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to History": {
      "main": [
        [
          {
            "node": "Pass Through Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Data": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "If Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error": {
      "main": [
        [
          {
            "node": "Throw Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Throw Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tbilisi",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 3600,
    "errorWorkflow": "H3UBEp425F5SMyrX"
  }
}