n8n-workflows/rentprog-history-parser-active.json
{
  "name": "Парсинг всех операций",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 3 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'tbilisi', token: TOKENS.tbilisi, page: 1 } }];"
      },
      "id": "prep-tbilisi",
      "name": "Tbilisi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 208]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'batumi', token: TOKENS.batumi, page: 1 } }];"
      },
      "id": "prep-batumi",
      "name": "Batumi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 352]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'kutaisi', token: TOKENS.kutaisi, page: 1 } }];"
      },
      "id": "prep-kutaisi",
      "name": "Kutaisi Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 512]
    },
    {
      "parameters": {
        "jsCode": "const TOKENS = {\n  'tbilisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDExMywiZXhwIjoxNzY1MDgyMTEzLCJqdGkiOiI0MmUxNzQ5Zi02MjEyLTRmOTMtOGM0Zi02ZWMwODUzYmUwYWQifQ.20oXaXcgK_hdofbUK3RGdQuPa0pGWtZTV4b42-A8oY4',\n  'batumi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDE1NCwiZXhwIjoxNzY1MDgyMTU0LCJqdGkiOiI0MWUxMjRjOS01MDgxLTQ2NmMtOTUxNS0xNWEwMjE4ZDA1OTEifQ.l2MfCEf1LJLe-kCuF-MKyOMdhAmd3UWfzG7xECMy37o',\n  'kutaisi': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDIwMiwiZXhwIjoxNzY1MDgyMjAyLCJqdGkiOiIxZWVlMWU2YS1kMTNhLTQwMzEtYjI2Mi04NGRiM2Y0ZmFiMGEifQ.xGIpTLumIwLxpitlLbeclqb9XBedY8jV1wCIuMP69Vs',\n  'service-center': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ5MDA0MSwiZXhwIjoxNzY1MDgyMDQxLCJqdGkiOiI1ZDkwMDI2MC02NTE2LTQxYjctOTI4Ny1jODAyMjNiN2EwNTMifQ.oLMvW9mftfJ9Oivy2riQjx8uK12Ur6aaFy02sDs6DSc'\n};\n\nreturn [{ json: { branch: 'service-center', token: TOKENS['service-center'], page: 1 } }];"
      },
      "id": "prep-service",
      "name": "Service Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 656]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.token }}"},
            {"name": "Accept", "value": "application/json, text/plain, */*"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Origin", "value": "https://web.rentprog.ru"},
            {"name": "Referer", "value": "https://web.rentprog.ru/"},
            {"name": "User-Agent", "value": "Mozilla/5.0"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":50,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {"timeout": 30000}
      },
      "id": "get-tbilisi",
      "name": "Get Tbilisi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 208],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.token }}"},
            {"name": "Accept", "value": "application/json, text/plain, */*"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Origin", "value": "https://web.rentprog.ru"},
            {"name": "Referer", "value": "https://web.rentprog.ru/"},
            {"name": "User-Agent", "value": "Mozilla/5.0"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":50,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {"timeout": 30000}
      },
      "id": "get-batumi",
      "name": "Get Batumi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 352],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.token }}"},
            {"name": "Accept", "value": "application/json, text/plain, */*"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Origin", "value": "https://web.rentprog.ru"},
            {"name": "Referer", "value": "https://web.rentprog.ru/"},
            {"name": "User-Agent", "value": "Mozilla/5.0"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":50,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {"timeout": 30000}
      },
      "id": "get-kutaisi",
      "name": "Get Kutaisi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 512],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rentprog.net/api/v1/search_operations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.token }}"},
            {"name": "Accept", "value": "application/json, text/plain, */*"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Origin", "value": "https://web.rentprog.ru"},
            {"name": "Referer", "value": "https://web.rentprog.ru/"},
            {"name": "User-Agent", "value": "Mozilla/5.0"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"page\":{{ $json.page }},\"per_page\":50,\"sort_by\":\"id\",\"direction\":\"desc\",\"search\":null}",
        "options": {"timeout": 30000}
      },
      "id": "get-service",
      "name": "Get Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 656],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Собираем ВСЕ responses со всех 4 филиалов и распаковываем operations\nconst processed = [];\n\n// Функция для обработки одного филиала\nfunction processItems(items, branchName) {\n  items.forEach(item => {\n    const operations = item.json?.operations?.data || item.json?.data || [];\n    \n    if (operations.length === 0) {\n      processed.push({ json: { branch: branchName, status: 'no_data' } });\n      return;\n    }\n    \n    operations.forEach(op_item => {\n      const op = op_item.attributes || op_item;\n      processed.push({\n        json: {\n          branch: branchName,\n          operation_type: op.operation_type || op.type || 'unknown',\n          operation_id: op.id ? String(op.id) : null,\n          description: op.description || '',\n          entity_type: op.entity_type || null,\n          entity_id: op.entity_id ? String(op.entity_id) : null,\n          user_name: op.user_name || null,\n          created_at: op.created_at || new Date().toISOString(),\n          raw_data: JSON.stringify(op)\n        }\n      });\n    });\n  });\n}\n\n// Обрабатываем все 4 филиала\nprocessItems($('Get Tbilisi').all(), 'tbilisi');\nprocessItems($('Get Batumi').all(), 'batumi');\nprocessItems($('Get Kutaisi').all(), 'kutaisi');\nprocessItems($('Get Service').all(), 'service-center');\n\nreturn processed;"
      },
      "id": "merge-and-process",
      "name": "Merge & Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO history (branch, operation_type, operation_id, description, entity_type, entity_id, user_name, created_at, raw_data, matched, processed) VALUES ('{{ $json.branch }}', '{{ ($json.operation_type || 'unknown').replace(/'/g, \"''\") }}', {{ $json.operation_id ? \"'\" + $json.operation_id + \"'\" : \"NULL\" }}, '{{ ($json.description || '').replace(/'/g, \"''\") }}', {{ $json.entity_type ? \"'\" + $json.entity_type.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $json.entity_id ? \"'\" + $json.entity_id + \"'\" : \"NULL\" }}, {{ $json.user_name ? \"'\" + $json.user_name.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, '{{ $json.created_at }}', '{{ ($json.raw_data || '{}').replace(/'/g, \"''\") }}'::jsonb, FALSE, FALSE) ON CONFLICT (branch, operation_id) DO UPDATE SET operation_type = EXCLUDED.operation_type, description = EXCLUDED.description, entity_type = EXCLUDED.entity_type, entity_id = EXCLUDED.entity_id, user_name = EXCLUDED.user_name, created_at = EXCLUDED.created_at, raw_data = EXCLUDED.raw_data, ts = NOW()",
        "options": {}
      },
      "id": "save-history",
      "name": "Save to History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1520, 416],
      "credentials": {"postgres": {"id": "3I9fyXVlGg4Vl4LZ", "name": "Postgres account"}},
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Postgres node возвращает только {success: true}\n// Возвращаем исходные данные из Merge & Process для Format Result\nconst originalData = $('Merge & Process').all();\nreturn originalData;"
      },
      "id": "pass-through-data",
      "name": "Pass Through Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 416]
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.all();\nconst successCount = saved.filter(s => !s.json.error).length;\nconst errorCount = saved.filter(s => s.json.error).length;\n\nconst byBranch = {};\nsaved.forEach(item => {\n  if (item.json.branch) {\n    if (!byBranch[item.json.branch]) byBranch[item.json.branch] = { success: 0, error: 0 };\n    if (item.json.error) byBranch[item.json.branch].error++;\n    else byBranch[item.json.branch].success++;\n  }\n});\n\nlet message = '📜 HISTORY PARSER\\n';\nObject.keys(byBranch).forEach(branch => {\n  const stats = byBranch[branch];\n  message += `${branch.toUpperCase()}: ${stats.success} ✓`;\n  if (stats.error > 0) message += ` / ${stats.error} ✗`;\n  message += '\\n';\n});\nmessage += `\\nВсего: ${successCount} / ${saved.length}`;\n\nreturn [{ json: { message, success: errorCount === 0, saved_count: successCount, error_count: errorCount, by_branch: byBranch } }];"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"leftValue": "={{ $json.success }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}
          ]
        }
      },
      "id": "if-error",
      "name": "If Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2048, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.message }}"
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2240, 512],
      "credentials": {"telegramApi": {"id": "nONqDN52rBYnhODp", "name": "Telegram Bot (@n8n_alert_geodrive_bot)"}},
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2240, 304]
    }
  ],
  "connections": {
    "Every 3 Minutes": {
      "main": [[
        {"node": "Tbilisi Pages", "type": "main", "index": 0},
        {"node": "Batumi Pages", "type": "main", "index": 0},
        {"node": "Kutaisi Pages", "type": "main", "index": 0},
        {"node": "Service Pages", "type": "main", "index": 0}
      ]]
    },
    "Tbilisi Pages": {"main": [[{"node": "Get Tbilisi", "type": "main", "index": 0}]]},
    "Batumi Pages": {"main": [[{"node": "Get Batumi", "type": "main", "index": 0}]]},
    "Kutaisi Pages": {"main": [[{"node": "Get Kutaisi", "type": "main", "index": 0}]]},
    "Service Pages": {"main": [[{"node": "Get Service", "type": "main", "index": 0}]]},
    "Get Tbilisi": {"main": [[{"node": "Merge & Process", "type": "main", "index": 0}]]},
    "Get Batumi": {"main": [[{"node": "Merge & Process", "type": "main", "index": 1}]]},
    "Get Kutaisi": {"main": [[{"node": "Merge & Process", "type": "main", "index": 2}]]},
    "Get Service": {"main": [[{"node": "Merge & Process", "type": "main", "index": 3}]]},
    "Merge & Process": {"main": [[{"node": "Save to History", "type": "main", "index": 0}]]},
    "Save to History": {"main": [[{"node": "Pass Through Data", "type": "main", "index": 0}]]},
    "Pass Through Data": {"main": [[{"node": "Format Result", "type": "main", "index": 0}]]},
    "Format Result": {"main": [[{"node": "If Error", "type": "main", "index": 0}]]},
    "If Error": {
      "main": [
        [{"node": "Success", "type": "main", "index": 0}],
        [{"node": "Send Alert", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tbilisi",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 3600,
    "errorWorkflow": "H3UBEp425F5SMyrX"
  }
}

