n8n-workflows/rentprog-upsert-processor.json
{
  "name": "RentProg Upsert Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-node",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, ts, branch, type, ext_id, ok, reason FROM events WHERE ok = true AND processed = false ORDER BY ts ASC LIMIT 50",
        "options": {}
      },
      "id": "get-events-node",
      "name": "Get Unprocessed Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Определение типа сущности и подготовка данных для upsert\nconst eventType = $input.item.json.type || '';\nconst extId = $input.item.json.ext_id || '';\nconst branch = $input.item.json.branch || 'unknown';\nconst eventId = $input.item.json.id;\n\nlet entityType = 'unknown';\nlet needsUpsert = false;\n\n// Определяем тип сущности по типу события\nif (eventType.includes('car') || eventType.includes('vehicle') || eventType.includes('auto')) {\n  entityType = 'car';\n  needsUpsert = true;\n} else if (eventType.includes('client') || eventType.includes('customer')) {\n  entityType = 'client';\n  needsUpsert = true;\n} else if (eventType.includes('booking') || eventType.includes('order') || eventType.includes('rent')) {\n  entityType = 'booking';\n  needsUpsert = true;\n}\n\nreturn {\n  json: {\n    eventId: eventId,\n    branch: branch,\n    type: eventType,\n    ext_id: extId,\n    entityType: entityType,\n    needsUpsert: needsUpsert,\n    originalEvent: $input.item.json\n  }\n};"
      },
      "id": "determine-entity-node",
      "name": "Determine Entity Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-upsert",
              "leftValue": "={{ $json.needsUpsert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-upsert-node",
      "name": "If Needs Upsert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_URL || 'http://46.224.17.15:3000' }}/process-event",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "branch",
              "value": "={{ $json.branch }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "ext_id",
              "value": "={{ $json.ext_id }}"
            },
            {
              "name": "eventId",
              "value": "={{ $json.eventId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "process-event-node",
      "name": "Process Event via Jarvis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET processed = true WHERE id = $1",
        "additionalFields": {
          "queryParameters": "={{ [$('Get Unprocessed Events').item.json.id] }}"
        },
        "options": {}
      },
      "id": "mark-processed-node",
      "name": "Mark Event as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [[{ "node": "Get Unprocessed Events", "type": "main", "index": 0 }]]
    },
    "Get Unprocessed Events": {
      "main": [[{ "node": "Determine Entity Type", "type": "main", "index": 0 }]]
    },
    "Determine Entity Type": {
      "main": [[{ "node": "If Needs Upsert", "type": "main", "index": 0 }]]
    },
    "If Needs Upsert": {
      "main": [
        [
          { "node": "Fetch Full Data from RentProg", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Process Event via Jarvis": {
      "main": [[{ "node": "Mark Event as Processed", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}

