n8n-workflows/rentprog-upsert-processor.json
{
  "name": "RentProg Upsert Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upsert-processor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rentprog-upsert-processor"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Подготовка данных для upsert из webhook\nconst body = $input.all()[0].json.body || $input.all()[0].json;\n\nconst rentprogId = body.rentprog_id || body.rentprogId || '';\nconst eventType = body.event || body.type || '';\nconst branch = body.branch || 'unknown';\nconst entityType = body.entity_type || body.entityType || 'unknown';\n\n// Определяем тип сущности если не передан\nlet finalEntityType = entityType;\nif (entityType === 'unknown' && eventType) {\n  if (eventType.includes('car') || eventType.includes('vehicle') || eventType.includes('auto')) {\n    finalEntityType = 'car';\n  } else if (eventType.includes('client') || eventType.includes('customer')) {\n    finalEntityType = 'client';\n  } else if (eventType.includes('booking') || eventType.includes('order') || eventType.includes('rent')) {\n    finalEntityType = 'booking';\n  }\n}\n\nreturn {\n  json: {\n    rentprog_id: rentprogId,\n    type: eventType,\n    branch: branch,\n    entityType: finalEntityType\n  }\n};"
      },
      "id": "prepare-data-node",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_URL || 'http://46.224.17.15:3000' }}/process-event",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "branch",
              "value": "={{ $json.branch }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "rentprog_id",
              "value": "={{ $json.rentprog_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "process-event-node",
      "name": "Process Event via Jarvis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET processed = true WHERE branch = $1 AND type = $2 AND rentprog_id = $3",
        "options": {
          "queryReplacement": "={{ $('Prepare Data').item.json.branch }},={{ $('Prepare Data').item.json.type }},={{ $('Prepare Data').item.json.rentprog_id }}"
        }
      },
      "id": "mark-processed-node",
      "name": "Mark Event as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"processed\": $('Process Event via Jarvis').item.json.ok || false } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Process Event via Jarvis", "type": "main", "index": 0 }]]
    },
    "Process Event via Jarvis": {
      "main": [[{ "node": "Mark Event as Processed", "type": "main", "index": 0 }]]
    },
    "Mark Event as Processed": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}
