n8n-workflows/rentprog-webhooks-monitor.json
{
  "id": "gNXRKIQpNubEazH7",
  "name": "RentProg Webhooks Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rentprog-webhook",
        "responseMode": "responseNode",
        "options": {
          "productionUrl": "https://webhook.rentflow.rentals"
        },
        "onError": "continueRegularOutput"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "webhookId": "rentprog-webhook-monitor"
    },
    {
      "parameters": {
        "jsCode": "// Полный парсинг и валидация формата вебхука с обработкой ошибок и валидацией типов событий\\r\\nconst crypto = require('crypto');\\r\\n\\r\\ntry {\\r\\n  const body = $input.item.json.body || {};\\r\\n  const headers = $input.item.json.headers || {};\\r\\n  const payloadStr = body.payload || '';\\r\\n  const rawEvent = body.event || body.type || 'unknown';\\r\\n\\r\\n  // Генерация request_id\\r\\n  const requestId = headers['x-request-id'] || headers['x-webhook-id'] || headers['x-event-id'] || \\r\\n                    (crypto.randomUUID ? crypto.randomUUID() : Date.now().toString());\\r\\n\\r\\n  let rentprogId = 'unknown';\\r\\n  let isKnownFormat = false;\\r\\n  let parsedPayload = {};\\r\\n  let validationErrors = [];\\r\\n  let eventType = 'unknown';\\r\\n  let entityType = 'unknown';\\r\\n  let operation = 'unknown';\\r\\n  let parseError = false;\\r\\n  let errorMessage = '';\\r\\n  let eventHash = '';\\r\\n\\r\\n  // ========== ШАГ 0: Генерация event_hash для дедупликации ==========\\r\\n  try {\\r\\n    const hashData = JSON.stringify({\\r\\n      'x-webhook-id': headers['x-webhook-id'] || '',\\r\\n      'x-event-id': headers['x-event-id'] || '',\\r\\n      'x-delivery-id': headers['x-delivery-id'] || '',\\r\\n      timestamp: headers['x-timestamp'] || headers['timestamp'] || '',\\r\\n      payload: payloadStr || ''\\r\\n    });\\r\\n    eventHash = crypto.createHash('sha256').update(hashData).digest('hex');\\r\\n  } catch (e) {\\r\\n    // Если не удалось создать hash, используем fallback\\r\\n    eventHash = crypto.createHash('sha256')\\r\\n      .update((payloadStr || '') + (rawEvent || '') + Date.now())\\r\\n      .digest('hex');\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 1: Парсинг payload ==========\\r\\n  try {\\r\\n    if (typeof payloadStr === 'string' && payloadStr.length > 0) {\\r\\n      try {\\r\\n        parsedPayload = JSON.parse(payloadStr);\\r\\n      } catch (e) {\\r\\n        // Пробуем Ruby hash формат\\r\\n        try {\\r\\n          let jsonStr = payloadStr\\r\\n            .replace(/=>/g, ':')\\r\\n            .replace(/([{, ])([a-zA-Z_][a-zA-Z0-9_]*):/g, '$1\\\"$2\\\":')\\r\\n            .replace(/nil/g, 'null')\\r\\n            .replace(/\\\\s+/g, ' ');\\r\\n          parsedPayload = JSON.parse(jsonStr);\\r\\n        } catch (e2) {\\r\\n          validationErrors.push('Не удалось распарсить payload: ' + e2.message);\\r\\n        }\\r\\n      }\\r\\n    } else if (typeof payloadStr === 'object' && payloadStr !== null) {\\r\\n      parsedPayload = payloadStr;\\r\\n    }\\r\\n  } catch (e) {\\r\\n    validationErrors.push('Ошибка обработки payload: ' + e.message);\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 2: Извлечение rentprog_id ==========\\r\\n  if (parsedPayload && Object.keys(parsedPayload).length > 0) {\\r\\n    if (parsedPayload.id !== undefined && parsedPayload.id !== null) {\\r\\n      rentprogId = String(parsedPayload.id);\\r\\n    } else if (typeof payloadStr === 'string') {\\r\\n      // Пробуем regex если не распарсилось\\r\\n      const idMatch = payloadStr.match(/[\\\"']?id[\\\"']?\\\\s*=>\\\\s*(\\\\d+)/i);\\r\\n      if (idMatch) {\\r\\n        rentprogId = idMatch[1];\\r\\n      } else {\\r\\n        validationErrors.push('Не найден ID в payload');\\r\\n      }\\r\\n    } else {\\r\\n      validationErrors.push('Не найден ID в payload');\\r\\n    }\\r\\n  } else {\\r\\n    validationErrors.push('Payload пуст или не распарсен');\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 3: Определение типа события ==========\\r\\n  // ВСЕ 9 известных типов событий\\r\\n  const knownEventTypes = [\\r\\n    'client_destroy',\\r\\n    'car_destroy',\\r\\n    'booking_destroy',\\r\\n    'car_update',\\r\\n    'client_update',\\r\\n    'booking_update',\\r\\n    'client_create',\\r\\n    'booking_create',\\r\\n    'car_create'\\r\\n  ];\\r\\n\\r\\n  const eventLower = rawEvent.toLowerCase().replace(/[._]/g, '');\\r\\n  if (knownEventTypes.includes(rawEvent)) {\\r\\n    eventType = rawEvent;\\r\\n  } else {\\r\\n    // Проверяем варианты: car_update, carupdate, car.update\\r\\n    const matchedType = knownEventTypes.find(t => {\\r\\n      const tLower = t.replace(/[._]/g, '');\\r\\n      return eventLower.includes(tLower) || tLower.includes(eventLower);\\r\\n    });\\r\\n    if (matchedType) {\\r\\n      eventType = matchedType;\\r\\n    } else {\\r\\n      validationErrors.push(`Неизвестный тип события: ${rawEvent}`);\\r\\n    }\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 4: Определение типа сущности и операции ==========\\r\\n  if (eventType.startsWith('car') || eventType.includes('car')) {\\r\\n    entityType = 'car';\\r\\n  } else if (eventType.startsWith('booking') || eventType.includes('booking')) {\\r\\n    entityType = 'booking';\\r\\n  } else if (eventType.startsWith('client') || eventType.includes('client')) {\\r\\n    entityType = 'client';\\r\\n  } else if (eventType !== 'unknown') {\\r\\n    validationErrors.push(`Не удалось определить тип сущности для события: ${eventType}`);\\r\\n  }\\r\\n\\r\\n  // Определяем операцию (update/create/destroy)\\r\\n  if (eventType.includes('update')) {\\r\\n    operation = 'update';\\r\\n  } else if (eventType.includes('create')) {\\r\\n    operation = 'create';\\r\\n  } else if (eventType.includes('destroy') || eventType.includes('delete')) {\\r\\n    operation = 'destroy';\\r\\n  } else if (eventType !== 'unknown') {\\r\\n    validationErrors.push(`Не удалось определить операцию для события: ${eventType}`);\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 5: Валидация обязательных полей ==========\\r\\n  if (entityType !== 'unknown' && rentprogId === 'unknown') {\\r\\n    validationErrors.push(`Отсутствует обязательное поле id для ${entityType}`);\\r\\n  }\\r\\n\\r\\n  // ========== ШАГ 6: Валидация формата для каждого типа события ==========\\r\\n  function validateEventFormat(evType, payload, errors) {\\r\\n    // Базовая валидация: ID обязателен\\r\\n    if (!payload.id) {\\r\\n      errors.push(`${evType}: отсутствует обязательное поле 'id'`);\\r\\n      return false;\\r\\n    }\\r\\n\\r\\n    // Специфическая валидация по типу события\\r\\n    switch (evType) {\\r\\n      case 'car_update':\\r\\n        // Для update должно быть хотя бы одно изменяемое поле\\r\\n        const carUpdateFields = ['mileage', 'clean_state', 'status', 'location', 'plate_number'];\\r\\n        const hasCarUpdateField = carUpdateFields.some(f => payload[f] !== undefined);\\r\\n        if (!hasCarUpdateField) {\\r\\n          errors.push(`car_update: нет полей для обновления (ожидается хотя бы одно из: ${carUpdateFields.join(', ')})`);\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'client_update':\\r\\n        // Для update должно быть хотя бы одно изменяемое поле\\r\\n        const clientUpdateFields = ['name', 'phone', 'email', 'passport', 'license'];\\r\\n        const hasClientUpdateField = clientUpdateFields.some(f => payload[f] !== undefined);\\r\\n        if (!hasClientUpdateField) {\\r\\n          errors.push(`client_update: нет полей для обновления (ожидается хотя бы одно из: ${clientUpdateFields.join(', ')})`);\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'booking_update':\\r\\n        // Для update должно быть хотя бы одно изменяемое поле\\r\\n        const bookingUpdateFields = ['status', 'issue_planned_at', 'return_planned_at', 'car_id', 'client_id'];\\r\\n        const hasBookingUpdateField = bookingUpdateFields.some(f => payload[f] !== undefined);\\r\\n        if (!hasBookingUpdateField) {\\r\\n          errors.push(`booking_update: нет полей для обновления (ожидается хотя бы одно из: ${bookingUpdateFields.join(', ')})`);\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'car_create':\\r\\n        // Для create должны быть обязательные поля для создания машины\\r\\n        if (!payload.plate_number && !payload.model) {\\r\\n          errors.push('car_create: отсутствуют обязательные поля (plate_number или model)');\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'client_create':\\r\\n        // Для create должны быть обязательные поля для создания клиента\\r\\n        if (!payload.name && !payload.phone) {\\r\\n          errors.push('client_create: отсутствуют обязательные поля (name или phone)');\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'booking_create':\\r\\n        // Для create должны быть обязательные поля для создания брони\\r\\n        if (!payload.car_id || !payload.client_id) {\\r\\n          errors.push('booking_create: отсутствуют обязательные поля (car_id, client_id)');\\r\\n          return false;\\r\\n        }\\r\\n        break;\\r\\n\\r\\n      case 'car_destroy':\\r\\n      case 'client_destroy':\\r\\n      case 'booking_destroy':\\r\\n        // Для destroy достаточно только id и company_id (уже проверены выше)\\r\\n        break;\\r\\n\\r\\n      default:\\r\\n        // Неизвестный тип - не можем валидировать\\r\\n        return false;\\r\\n    }\\r\\n\\r\\n    return true;\\r\\n  }\\r\\n\\r\\n  // Применяем валидацию формата\\r\\n  let formatValid = false;\\r\\n  if (eventType !== 'unknown' && entityType !== 'unknown' && operation !== 'unknown') {\\r\\n    formatValid = validateEventFormat(eventType, parsedPayload, validationErrors);\\r\\n  }\\r\\n\\r\\n  // ========== ИТОГОВАЯ ПРОВЕРКА ==========\\r\\n  // Формат известен, если:\\r\\n  // 1. Payload распарсен\\r\\n  // 2. Тип события известен (в списке knownEventTypes)\\r\\n  // 3. rentprog_id извлечен\\r\\n  // 4. entityType и operation определены\\r\\n  // 5. Нет ошибок валидации\\r\\n  // 6. Формат валиден для данного типа события\\r\\n  if (\\r\\n    Object.keys(parsedPayload).length > 0 &&\\r\\n    rentprogId !== 'unknown' &&\\r\\n    eventType !== 'unknown' &&\\r\\n    entityType !== 'unknown' &&\\r\\n    operation !== 'unknown' &&\\r\\n    validationErrors.length === 0 &&\\r\\n    formatValid\\r\\n  ) {\\r\\n    isKnownFormat = true;\\r\\n  } else {\\r\\n    // Явно устанавливаем false для всех неизвестных форматов\\r\\n    isKnownFormat = false;\\r\\n  }\\r\\n\\r\\n  return {\\r\\n    json: {\\r\\n      ...$input.item.json,\\r\\n      requestId: requestId,\\r\\n      eventHash: eventHash,\\r\\n      rentprogId: rentprogId,\\r\\n      eventType: eventType,\\r\\n      entityType: entityType,\\r\\n      operation: operation,\\r\\n      companyId: parsedPayload.company_id || null,\\r\\n      isKnownFormat: isKnownFormat,\\r\\n      parsedPayload: parsedPayload,\\r\\n      validationErrors: validationErrors,\\r\\n      rawEvent: rawEvent,\\r\\n      parseError: parseError,\\r\\n      errorMessage: errorMessage\\r\\n    }\\r\\n  };\\r\\n} catch (error) {\\r\\n  // Критическая ошибка парсинга - возвращаем структуру с ошибкой\\r\\n  const body = $input.item.json.body || {};\\r\\n  const headers = $input.item.json.headers || {};\\r\\n  const rawEvent = body.event || body.type || 'unknown';\\r\\n  \\r\\n  // Генерация event_hash даже при ошибке\\r\\n  let eventHash = '';\\r\\n  try {\\r\\n    const hashData = JSON.stringify({\\r\\n      'x-webhook-id': headers['x-webhook-id'] || '',\\r\\n      'x-event-id': headers['x-event-id'] || '',\\r\\n      timestamp: Date.now().toString(),\\r\\n      payload: JSON.stringify(body)\\r\\n    });\\r\\n    eventHash = crypto.createHash('sha256').update(hashData).digest('hex');\\r\\n  } catch {\\r\\n    eventHash = crypto.createHash('sha256')\\r\\n      .update((JSON.stringify(body) || '') + Date.now())\\r\\n      .digest('hex');\\r\\n  }\\r\\n  \\r\\n  return {\\r\\n    json: {\\r\\n      ...$input.item.json,\\r\\n      requestId: headers['x-request-id'] || Date.now().toString(),\\r\\n      eventHash: eventHash,\\r\\n      rentprogId: 'unknown',\\r\\n      eventType: 'unknown',\\r\\n      entityType: 'unknown',\\r\\n      operation: 'unknown',\\r\\n      companyId: null,\\r\\n      isKnownFormat: false,\\r\\n      parsedPayload: {},\\r\\n      validationErrors: ['Критическая ошибка парсинга: ' + (error.message || String(error))],\\r\\n      rawEvent: rawEvent,\\r\\n      parseError: true,\\r\\n      errorMessage: error.message || String(error),\\r\\n      errorStack: error.stack || ''\\r\\n    }\\r\\n  };\\r\\n}\\r\\n\\r\\n"
      },
      "id": "parse-validate-node",
      "name": "Parse & Validate Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "known-format-check",
              "leftValue": "={{ $json.isKnownFormat === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-known-format-node",
      "name": "If Known Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_URL || 'http://46.224.17.15:3000' }}/process-webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{ $json.rawEvent || $json.eventType }}"
            },
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json.parsedPayload) }}"
            },
            {
              "name": "rentprog_id",
              "value": "={{ $json.rentprogId }}"
            },
            {
              "name": "entity_type",
              "value": "={{ $json.entityType }}"
            },
            {
              "name": "operation",
              "value": "={{ $json.operation }}"
            },
            {
              "name": "company_id",
              "value": "={{ $json.companyId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "auto-process-node",
      "name": "Auto Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-upsert-check",
              "leftValue": "={{ $json.needsUpsert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-upsert-node",
      "name": "If Needs Upsert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_URL || 'https://n8n.rentflow.rentals' }}/webhook/upsert-processor",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"rentprog_id\": $('Auto Process').item.json.rentprog_id || $('Parse & Validate Format').item.json.rentprogId, \"event\": $('Auto Process').item.json.event || $('Parse & Validate Format').item.json.rawEvent, \"branch\": $('Auto Process').item.json.branch || $('Parse & Validate Format').item.json.branch, \"entity_type\": $('Auto Process').item.json.entity_type || $('Parse & Validate Format').item.json.entityType } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "trigger-upsert-node",
      "name": "Trigger Upsert Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=<b>Неизвестный формат вебхука от RentProg</b>\n\n<b>Тип события:</b> {{ $json.rawEvent }}\n<b>RentProg ID:</b> {{ $json.rentprogId }}\n<b>Company ID:</b> {{ $json.companyId || \"не указан\" }}\n\n<b>Ошибки валидации:</b>\n{{ $json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join(', ') : 'Неизвестная структура' }}\n\n<b>Payload (Ruby hash):</b>\n<pre>{{ $json.body.payload }}</pre>\n\n<b>Parsed payload (JSON):</b>\n<pre>{{ JSON.stringify($json.parsedPayload, null, 2) }}</pre>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "debug-unknown-node",
      "name": "Debug: Unknown Format",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🚨 КРИТИЧЕСКАЯ ОШИБКА парсинга вебхука от RentProg\n\nВремя: {{ $now }}\nBranch: {{ $json.branch }}\nТип события: {{ $json.rawEvent }}\nRentProg ID: {{ $json.rentprogId }}\n\nОшибка: {{ $json.errorMessage || 'Unknown error' }}\n\nОшибки валидации:\n{{ $json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('\\n') : 'Нет деталей' }}\n\nStack trace:\n{{ $json.errorStack || 'Нет stack trace' }}\n\nПолный запрос:\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "id": "alert-parse-error-node",
      "name": "Alert: Parse Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO webhook_error_log (ts, phase, kind, error, payload, meta, request_id, event_hash, company_id, event_type, rentprog_id)\nVALUES (NOW(), $1, $2, $3, $4::jsonb, $5::jsonb, NULLIF($6, ''), NULLIF($7, ''), $8, NULLIF($9, ''), NULLIF($10, ''))\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json.parseError ? 'parse' : ($json.errorMessage ? 'sync' : ($json.validationErrors && $json.validationErrors.length > 0 ? 'validation' : 'unknown')) }},={{ $json.parseError ? 'error' : ($json.validationErrors && $json.validationErrors.length > 0 ? 'warn' : 'info') }},={{ $json.errorMessage || ($json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('; ') : 'Unknown error') }},={{ JSON.stringify($json.body || {}) }},={{ JSON.stringify({ validationErrors: $json.validationErrors || [], errorStack: $json.errorStack || '', rawEvent: $json.rawEvent || '' }) }},={{ $json.requestId || '' }},={{ $json.eventHash || '' }},={{ $json.companyId || null }},={{ $json.rawEvent || 'unknown' }},={{ $json.rentprogId || 'unknown' }}"
        }
      },
      "id": "log-error-node",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        650,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "3I9fyXVlGg4Vl4LZ",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "company_id",
              "name": "company_id",
              "value": "={{ $json.companyId || null }}",
              "type": "numberValue"
            },
            {
              "id": "type",
              "name": "type",
              "value": "={{ $json.eventType || 'unknown' }}",
              "type": "stringValue"
            },
            {
              "id": "rentprog_id",
              "name": "rentprog_id",
              "value": "={{ $json.rentprogId || 'unknown' }}",
              "type": "stringValue"
            },
            {
              "id": "ok",
              "name": "ok",
              "value": "={{ $json.parseError ? false : ($json.isKnownFormat !== undefined ? $json.isKnownFormat : ($json.body && $json.body.ok !== false ? true : false)) }}",
              "type": "booleanValue"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $json.parseError ? ('Критическая ошибка парсинга: ' + ($json.errorMessage || 'Unknown error')) : ($json.validationErrors && $json.validationErrors.length > 0 ? $json.validationErrors.join('; ') : ($json.body && $json.body.error ? $json.body.error : ($json.body && $json.body.reason ? $json.body.reason : 'ok'))) }}",
              "type": "stringValue"
            },
            {
              "id": "processed",
              "name": "processed",
              "value": "={{ $json.parseError ? false : false }}",
              "type": "booleanValue"
            },
            {
              "id": "event_hash",
              "name": "event_hash",
              "value": "={{ $json.eventHash || '' }}",
              "type": "stringValue"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $json.requestId || '' }}",
              "type": "stringValue"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "set-params-node",
      "name": "Set Query Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (ts, company_id, type, rentprog_id, ok, reason, processed, event_hash)\nVALUES (NOW(), $1, $2, $3, $4, $5, $6, NULLIF($7, ''))\nON CONFLICT (company_id, type, rentprog_id) DO NOTHING\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json.company_id }},={{ $json.type }},={{ $json.rentprog_id }},={{ $json.ok }},={{ $json.reason }},={{ $json.processed }},={{ $json.event_hash || '' }}"
        }
      },
      "id": "data-table-node",
      "name": "Save Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1650,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "3I9fyXVlGg4Vl4LZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "fast-respond-node",
      "name": "Respond (Fast Ack)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"received\": true } }}"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond (Fast Ack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Format": {
      "main": [
        [
          {
            "node": "If Known Format",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Alert: Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Known Format": {
      "main": [
        [
          {
            "node": "Auto Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug: Unknown Format",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Alert: Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Process": {
      "main": [
        [
          {
            "node": "If Needs Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Upsert": {
      "main": [
        [
          {
            "node": "Trigger Upsert Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Query Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Upsert Processor": {
      "main": [
        [
          {
            "node": "Set Query Params",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug: Unknown Format": {
      "main": [
        [
          {
            "node": "Set Query Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert: Parse Error": {
      "main": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Query Params": {
      "main": [
        [
          {
            "node": "Save Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Event": {
      "main": [
        []
      ],
      "error": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to DB": {
      "main": [
        []
      ],
      "error": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}