n8n-workflows/starline-gps-monitor-mcp-export.json
{
  "updatedAt": "2025-11-13T10:15:35.388Z",
  "createdAt": "2025-11-09T06:06:14.367Z",
  "id": "Nc5GFhh5Ikhv1ivK",
  "name": "✅Starline GPS Monitor (Every 2 Minutes)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/starline/update-gps",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Update GPS Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        288
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "http-error-check-node",
      "name": "HTTP Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003484642420",
        "text": "={{ '🔴 **Starline GPS Monitor - HTTP Ошибка**\\n\\n' + '❌ Не удалось подключиться к API\\n\\n' + '**Ошибка:**\\n' + (($json.error && $json.error.message) || $json.error || 'Unknown error') + '\\n\\n🕐 ' + $now.toISO() }}\n\n🔗 <a href=\"https://n8n.rentflow.rentals/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\">Открыть execution</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "http-error-alert-node",
      "name": "Send HTTP Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        400
      ],
      "webhookId": "609613c1-b93b-43ac-aea9-3164d06180dd",
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.errors.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1072,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "updated",
              "value": "={{ $json.updated }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "error_count",
              "value": "0",
              "type": "number"
            },
            {
              "id": "a4",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "full_response",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Success Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -16
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "full_response.details",
        "options": {}
      },
      "id": "9i0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Split Cars Details",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1504,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "updated",
              "value": "={{ $json.updated }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "error_count",
              "value": "={{ $json.errors.length }}",
              "type": "number"
            },
            {
              "id": "a4",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Critical Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1904,
        416
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003484642420",
        "text": "={{ '🚨 **Starline GPS Monitor - Критичные ошибки**\\n\\n' + '✅ Обновлено: ' + $json.updated + ' машин\\n' + '❌ Ошибок: ' + $json.error_count + '\\n\\n' + '**Список ошибок:**\\n' + $json.errors.join('\\n') + '\\n\\n🕐 ' + $now.toISO() }}\n\n🔗 <a href=\"https://n8n.rentflow.rentals/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\">Открыть execution</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        464
      ],
      "webhookId": "a536480f-da53-44e1-9c5c-025cce77c988",
      "credentials": {
        "telegramApi": {
          "id": "1tKryXxL5Gq395nN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO health (ts, branch, ok, reason) VALUES (NOW(), 'starline', $1, $2)",
        "options": {}
      },
      "id": "8h9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Log to Health Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1744,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "3I9fyXVlGg4Vl4LZ",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.errors && $json.errors.some(err => String(err).includes('Первый запрос завис') || String(err).includes('Timeout') || String(err).includes('повис') || String(err).includes('слетела авторизация') || String(err).includes('logged_out')) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "page-hang-check-node",
      "name": "Check Page Hang?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1456,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "HTTP Error detected - check Telegram alerts"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1216,
        512
      ],
      "id": "b4ac560b-8925-4e6a-ac0f-6da3f9f12780",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.all()[0].json;\n\n// Если обновлений 0 - это проблема\nif (result.updated === 0) {\n  throw new Error(`⚠️ GPS parsing failed: updated=${result.updated}, errors=${JSON.stringify(result.errors)}`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        288
      ],
      "id": "631b876c-7ad8-4e3d-b60d-0095c7daa18c",
      "name": "Validate GPS Update"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "id": "0644dfcc-ae32-4945-b11a-2e20472e383f",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        272
      ]
    }
  ],
  "connections": {
    "Update GPS Data": {
      "main": [
        [
          {
            "node": "Validate GPS Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Error?": {
      "main": [
        [
          {
            "node": "Send HTTP Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HTTP Error Alert": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Log": {
      "main": [
        [
          {
            "node": "Split Cars Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Health Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Cars Details": {
      "main": []
    },
    "Error Log": {
      "main": [
        [
          {
            "node": "Check Page Hang?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Errors?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Health Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Log to Health Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Page Hang?": {
      "main": [
        [
          {
            "node": "Critical Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate GPS Update": {
      "main": [
        [
          {
            "node": "HTTP Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Update GPS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "H3UBEp425F5SMyrX",
    "timezone": "Asia/Tbilisi",
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every Minute": {
      "recurrenceRules": []
    },
    "node:Every 2 Minutes": {
      "recurrenceRules": []
    },
    "node:Every 3 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Every 2 Minutes": [
      {
        "json": {
          "timestamp": "2025-11-12T23:45:00.003+04:00",
          "Readable date": "November 12th 2025, 11:45:00 pm",
          "Readable time": "11:45:00 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "12",
          "Hour": "23",
          "Minute": "45",
          "Second": "00",
          "Timezone": "Asia/Tbilisi (UTC+04:00)"
        }
      }
    ]
  },
  "versionId": "8def888a-d522-4b69-bd58-b3e913e69256",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-09T06:06:14.367Z",
      "createdAt": "2025-11-09T06:06:14.367Z",
      "role": "workflow:owner",
      "workflowId": "Nc5GFhh5Ikhv1ivK",
      "projectId": "YeYimRJroeGbDN4w",
      "project": {
        "updatedAt": "2025-10-31T22:08:34.100Z",
        "createdAt": "2025-10-31T21:59:17.618Z",
        "id": "YeYimRJroeGbDN4w",
        "name": "Aleksey Eliseev <33pokrov33@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-31T21:59:17.618Z",
            "createdAt": "2025-10-31T21:59:17.618Z",
            "userId": "7d62b373-201b-47f3-859a-cdc69ddea44a",
            "projectId": "YeYimRJroeGbDN4w",
            "user": {
              "updatedAt": "2025-11-13T16:46:54.053Z",
              "createdAt": "2025-10-31T21:58:30.097Z",
              "id": "7d62b373-201b-47f3-859a-cdc69ddea44a",
              "email": "33pokrov33@gmail.com",
              "firstName": "Aleksey",
              "lastName": "Eliseev",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-31T22:14:18.419Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "gNXRKIQpNubEazH7",
                "userActivatedAt": 1762108796654,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}