n8n-workflows/starline-routes-html-webhook.json
{
  "name": "Starline Routes HTML Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "starline-routes-html",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "starline-routes-html-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/starline/routes-html",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"deviceId\": $json.body.deviceId || $json.query.deviceId,\n  \"dateFrom\": $json.body.dateFrom || $json.query.dateFrom,\n  \"dateTo\": $json.body.dateTo || $json.query.dateTo\n} }}",
        "options": {
          "timeout": 120000
        },
        "responseFormat": "text"
      },
      "id": "get-routes-html",
      "name": "Get Routes HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [656, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML из ответа\nconst htmlContent = $input.item.json.data || $input.item.json || '';\n\n// Конвертируем строку в Buffer для binary формата\nconst buffer = Buffer.from(htmlContent, 'utf8');\n\n// Получаем параметры из Webhook\nconst deviceId = $('Webhook').item.json.body.deviceId || $('Webhook').item.json.query.deviceId;\nconst dateFrom = $('Webhook').item.json.body.dateFrom || $('Webhook').item.json.query.dateFrom;\nconst dateTo = $('Webhook').item.json.body.dateTo || $('Webhook').item.json.query.dateTo;\n\nconst fileName = `starline-routes-${deviceId}-${dateFrom}-${dateTo}.html`;\n\n// Сохраняем время начала для отчета\nconst startTime = Date.now();\n\nreturn [{\n  json: {\n    fileName: fileName,\n    htmlContent: htmlContent,\n    fileSize: buffer.length,\n    startTime: startTime\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "prepare-file-data",
      "name": "Prepare File Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://transfer.sh/{{ $json.fileName }}",
        "sendBody": true,
        "specifyBody": "raw",
        "body": "={{ $json.htmlContent }}",
        "options": {
          "timeout": 30000,
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        },
        "responseFormat": "text"
      },
      "id": "upload-to-storage",
      "name": "Upload to transfer.sh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-upload-success",
      "name": "Check Upload Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1232, 200]
    },
    {
      "parameters": {
        "jsCode": "// Формируем отчет о проделанной работе\nconst webhookData = $('Webhook').item.json.body || $('Webhook').item.json.query || {};\nconst deviceId = webhookData.deviceId;\nconst dateFrom = webhookData.dateFrom;\nconst dateTo = webhookData.dateTo;\nconst callbackUrl = webhookData.callbackUrl;\n\nconst prepareData = $('Prepare File Data').item.json;\nconst uploadResponse = $input.item.json.data?.trim() || $input.item.json.trim() || $input.item.json;\n\nconst endTime = Date.now();\nconst duration = endTime - (prepareData.startTime || endTime);\nconst fileSize = prepareData.fileSize || 0;\nconst fileSizeKB = (fileSize / 1024).toFixed(2);\nconst fileSizeMB = (fileSize / (1024 * 1024)).toFixed(2);\n\nconst report = {\n  ok: true,\n  timestamp: new Date().toISOString(),\n  deviceId: deviceId,\n  dateFrom: dateFrom,\n  dateTo: dateTo,\n  url: uploadResponse.replace(/\\s+/g, ''),\n  fileName: prepareData.fileName,\n  fileSize: fileSize,\n  fileSizeFormatted: fileSize > 1024 * 1024 ? `${fileSizeMB} MB` : `${fileSizeKB} KB`,\n  duration: duration,\n  durationFormatted: `${(duration / 1000).toFixed(2)} сек`,\n  note: \"Файл доступен 7 дней\",\n  steps: [\n    { step: \"Получение HTML страницы\", status: \"success\", duration: \"~\" + Math.round(duration * 0.6) + \" мс\" },\n    { step: \"Загрузка на transfer.sh\", status: \"success\", duration: \"~\" + Math.round(duration * 0.4) + \" мс\" }\n  ]\n};\n\nreturn [{\n  json: {\n    ...report,\n    callbackUrl: callbackUrl\n  }\n}];"
      },
      "id": "prepare-report",
      "name": "Prepare Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1424, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.callbackUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-callback-url",
      "name": "Check Callback URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"ok\": $json.ok,\n  \"timestamp\": $json.timestamp,\n  \"deviceId\": $json.deviceId,\n  \"dateFrom\": $json.dateFrom,\n  \"dateTo\": $json.dateTo,\n  \"url\": $json.url,\n  \"fileName\": $json.fileName,\n  \"fileSize\": $json.fileSize,\n  \"fileSizeFormatted\": $json.fileSizeFormatted,\n  \"duration\": $json.duration,\n  \"durationFormatted\": $json.durationFormatted,\n  \"note\": $json.note,\n  \"steps\": $json.steps\n} }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 2,
            "retryOnFail": true
          }
        },
        "responseFormat": "json"
      },
      "id": "send-callback",
      "name": "Send Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": true,\n  \"url\": $('Prepare Report').item.json.url,\n  \"fileName\": $('Prepare Report').item.json.fileName,\n  \"deviceId\": $('Prepare Report').item.json.deviceId,\n  \"dateFrom\": $('Prepare Report').item.json.dateFrom,\n  \"dateTo\": $('Prepare Report').item.json.dateTo,\n  \"fileSizeFormatted\": $('Prepare Report').item.json.fileSizeFormatted,\n  \"durationFormatted\": $('Prepare Report').item.json.durationFormatted,\n  \"note\": $('Prepare Report').item.json.note,\n  \"callbackSent\": $('Check Callback URL').item.json.callbackUrl ? true : false\n} }}",
        "options": {}
      },
      "id": "respond-with-link",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": false,\n  \"error\": \"Failed to upload file to storage\",\n  \"uploadError\": $json.error?.message || $json.error || 'Unknown upload error',\n  \"deviceId\": $('Webhook').item.json.body.deviceId || $('Webhook').item.json.query.deviceId,\n  \"dateFrom\": $('Webhook').item.json.body.dateFrom || $('Webhook').item.json.query.dateFrom,\n  \"dateTo\": $('Webhook').item.json.body.dateTo || $('Webhook').item.json.query.dateTo\n} }}",
        "options": {}
      },
      "id": "respond-upload-error",
      "name": "Respond Upload Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1232, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": false,\n  \"error\": $('Get Routes HTML').item.json.error?.message || $('Get Routes HTML').item.json.error || 'Unknown error',\n  \"deviceId\": $('Webhook').item.json.body.deviceId || $('Webhook').item.json.query.deviceId,\n  \"dateFrom\": $('Webhook').item.json.body.dateFrom || $('Webhook').item.json.query.dateFrom,\n  \"dateTo\": $('Webhook').item.json.body.dateTo || $('Webhook').item.json.query.dateTo\n} }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [848, 400]
    },
    {
      "parameters": {
        "jsCode": "// Формируем отчет об ошибке для отправки на callback\nconst webhookData = $('Webhook').item.json.body || $('Webhook').item.json.query || {};\nconst callbackUrl = webhookData.callbackUrl;\nconst errorData = $input.item.json;\n\nif (!callbackUrl) {\n  return [];\n}\n\nconst errorReport = {\n  ok: false,\n  timestamp: new Date().toISOString(),\n  deviceId: webhookData.deviceId,\n  dateFrom: webhookData.dateFrom,\n  dateTo: webhookData.dateTo,\n  error: errorData.error || 'Unknown error',\n  errorDetails: errorData\n};\n\nreturn [{\n  json: {\n    ...errorReport,\n    callbackUrl: callbackUrl\n  }\n}];"
      },
      "id": "prepare-error-report",
      "name": "Prepare Error Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"ok\": $json.ok,\n  \"timestamp\": $json.timestamp,\n  \"deviceId\": $json.deviceId,\n  \"dateFrom\": $json.dateFrom,\n  \"dateTo\": $json.dateTo,\n  \"error\": $json.error,\n  \"errorDetails\": $json.errorDetails\n} }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 2,
            "retryOnFail": true
          }
        },
        "responseFormat": "json"
      },
      "id": "send-error-callback",
      "name": "Send Error Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 500],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Routes HTML", "type": "main", "index": 0}]]
    },
    "Get Routes HTML": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Prepare File Data", "type": "main", "index": 0}],
        [{"node": "Respond Error", "type": "main", "index": 0}, {"node": "Prepare Error Report", "type": "main", "index": 0}]
      ]
    },
    "Prepare File Data": {
      "main": [[{"node": "Upload to transfer.sh", "type": "main", "index": 0}]]
    },
    "Upload to transfer.sh": {
      "main": [[{"node": "Check Upload Success", "type": "main", "index": 0}]]
    },
    "Check Upload Success": {
      "main": [
        [{"node": "Prepare Report", "type": "main", "index": 0}],
        [{"node": "Respond Upload Error", "type": "main", "index": 0}]
      ]
    },
    "Prepare Report": {
      "main": [[{"node": "Check Callback URL", "type": "main", "index": 0}]]
    },
    "Check Callback URL": {
      "main": [
        [{"node": "Send Callback", "type": "main", "index": 0}, {"node": "Respond to Webhook", "type": "main", "index": 0}],
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    },
    "Send Callback": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Prepare Error Report": {
      "main": [[{"node": "Send Error Callback", "type": "main", "index": 0}]]
    },
    "Send Error Callback": {
      "main": []
    },
    "Respond to Webhook": {
      "main": []
    },
    "Respond Upload Error": {
      "main": []
    },
    "Respond Error": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "Asia/Tbilisi",
    "saveExecutionProgress": true,
    "executionTimeout": 3600
  }
}
