n8n-workflows/starline-routes-html-webhook.json
{
  "name": "Starline Routes HTML Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "starline-routes-html",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "starline-routes-html-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/starline/routes-html",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"deviceId\": $json.body.deviceId || $json.query.deviceId,\n  \"dateFrom\": $json.body.dateFrom || $json.query.dateFrom,\n  \"dateTo\": $json.body.dateTo || $json.query.dateTo\n} }}",
        "options": {
          "timeout": 120000
        },
        "responseFormat": "text"
      },
      "id": "get-routes-html",
      "name": "Get Routes HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [656, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML из ответа\nconst htmlContent = $input.item.json.data || $input.item.json || '';\n\n// Конвертируем строку в Buffer для binary формата\nconst buffer = Buffer.from(htmlContent, 'utf8');\n\n// Получаем параметры из Webhook\nconst deviceId = $('Webhook').item.json.body.deviceId || $('Webhook').item.json.query.deviceId;\nconst dateFrom = $('Webhook').item.json.body.dateFrom || $('Webhook').item.json.query.dateFrom;\nconst dateTo = $('Webhook').item.json.body.dateTo || $('Webhook').item.json.query.dateTo;\n\nconst fileName = `starline-routes-${deviceId}-${dateFrom}-${dateTo}.html`;\n\nreturn [{\n  json: {\n    fileName: fileName,\n    htmlContent: htmlContent\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "prepare-file-data",
      "name": "Prepare File Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://transfer.sh/{{ $json.fileName }}",
        "sendBody": true,
        "specifyBody": "raw",
        "body": "={{ $json.htmlContent }}",
        "options": {
          "timeout": 30000,
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        },
        "responseFormat": "text"
      },
      "id": "upload-to-storage",
      "name": "Upload to transfer.sh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-upload-success",
      "name": "Check Upload Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1232, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": true,\n  \"url\": ($json.data?.trim() || $json.trim() || $json).replace(/\\s+/g, ''),\n  \"fileName\": $('Prepare File Data').item.json.fileName,\n  \"deviceId\": $('Webhook').item.json.body.deviceId || $('Webhook').item.json.query.deviceId,\n  \"dateFrom\": $('Webhook').item.json.body.dateFrom || $('Webhook').item.json.query.dateFrom,\n  \"dateTo\": $('Webhook').item.json.body.dateTo || $('Webhook').item.json.query.dateTo,\n  \"note\": \"Файл доступен 7 дней\"\n} }}",
        "options": {}
      },
      "id": "respond-with-link",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1424, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": false,\n  \"error\": \"Failed to upload file to storage\",\n  \"uploadError\": $json.error?.message || $json.error || 'Unknown upload error'\n} }}",
        "options": {}
      },
      "id": "respond-upload-error",
      "name": "Respond Upload Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1232, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"ok\": false,\n  \"error\": $('Get Routes HTML').item.json.error?.message || $('Get Routes HTML').item.json.error || 'Unknown error'\n} }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [848, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Routes HTML", "type": "main", "index": 0}]]
    },
    "Get Routes HTML": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Prepare File Data", "type": "main", "index": 0}],
        [{"node": "Respond Error", "type": "main", "index": 0}]
      ]
    },
    "Prepare File Data": {
      "main": [[{"node": "Upload to transfer.sh", "type": "main", "index": 0}]]
    },
    "Upload to transfer.sh": {
      "main": [[{"node": "Check Upload Success", "type": "main", "index": 0}]]
    },
    "Check Upload Success": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}],
        [{"node": "Respond Upload Error", "type": "main", "index": 0}]
      ]
    },
    "Respond to Webhook": {
      "main": []
    },
    "Respond Upload Error": {
      "main": []
    },
    "Respond Error": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "Asia/Tbilisi",
    "saveExecutionProgress": true,
    "executionTimeout": 3600
  }
}

