setup/workflow_payload_min.json
{"name":"✅Парсинг активных броней RentProg раз в 5 мин","nodes":[{"parameters":{"method":"POST","url":"https://rentprog.net/api/v1/index_with_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NiIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ1OTY2MCwiZXhwIjoxNzY1MDUxNjYwLCJqdGkiOiIxOTFjMDY4ZS1jOGNhLTQ4OWEtODk0OS1iMjJkMmUzODE2ZDIifQ.G4_I4D96Flv4rP3JwjwDPpEHaH6ShSb0YRRQG8PasXk"},{"name":"Accept","value":"application/json"},{"name":"Origin","value":"https://web.rentprog.ru"},{"name":"Referer","value":"https://web.rentprog.ru/"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"booking\",\"active\":true,\"page\":1,\"per_page\":50,\"filters\":{\"start_date_from\":\"2025-10-14\"}}","options":{"timeout":60000}},"name":"Get Tbilisi Active","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,208],"id":"0795bf53-6203-47e5-a9d4-4a4de445d8fa"},{"parameters":{"method":"POST","url":"https://rentprog.net/api/v1/index_with_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OCIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ2MDAyNSwiZXhwIjoxNzY1MDUyMDI1LCJqdGkiOiI0ZmQ2ODE4Yy0zYWNiLTRmZmQtOGZmYS0wZWMwZDkyMmIyMzgifQ.16s2ruRb3x_S7bgy4zF7TW9dSQ3ITqX3kei8recyH_8"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"booking\",\"active\":true,\"page\":1,\"per_page\":50,\"filters\":{\"start_date_from\":\"2025-10-14\"}}","options":{"timeout":60000}},"name":"Get Batumi Active","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,400],"id":"f4e60080-2fce-4fbd-8def-450fdd2f9715"},{"parameters":{"method":"POST","url":"https://rentprog.net/api/v1/index_with_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0OSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ2MDE3MiwiZXhwIjoxNzY1MDUyMTcyLCJqdGkiOiJmNzE1NGQ3MC0zZWFmLTRiNzItYTI3Ni0yZTg3MmQ4YjA0YmQifQ.1vd1kNbWB_qassLVqoxgyRsRJwtPsl7OR28gVsCxmwY"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"booking\",\"active\":true,\"page\":1,\"per_page\":50,\"filters\":{\"start_date_from\":\"2025-10-14\"}}","options":{"timeout":60000}},"name":"Get Kutaisi Active","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,608],"id":"1f5cd836-3b4b-4e2e-a91c-4e28f2c6db22"},{"parameters":{"method":"POST","url":"https://rentprog.net/api/v1/index_with_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNjA0NSIsInNjcCI6InVzZXIiLCJhdWQiOm51bGwsImlhdCI6MTc2MjQ1OTM4MSwiZXhwIjoxNzY1MDUxMzgxLCJqdGkiOiI4ZDdkYjYyNi1jNWJiLTQ0MWMtYTNlMy00YjQwOWFmODQ1NmUifQ.32BRzttLFFgOgMv-VusAXK8mmyvrk4X-pb_rHQHSFbw"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"booking\",\"active\":true,\"page\":1,\"per_page\":50,\"filters\":{\"start_date_from\":\"2025-10-14\"}}","options":{"timeout":60000}},"name":"Get Service Active","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,800],"id":"e034b4b1-1e9a-45c3-b5d7-a4ed61e053fc"},{"parameters":{"operation":"executeQuery","query":"SELECT code, id FROM cars WHERE code IS NOT NULL","options":{}},"name":"Get Car IDs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,240],"id":"40a89886-250b-41de-9b57-eb6e6eb70b1a","credentials":{"postgres":{"id":"3I9fyXVlGg4Vl4LZ","name":"Postgres account"}}},{"parameters":{"jsCode":"// Обрабатываем все брони по филиалам + карта автомобилей\nconst branchItems = (() => {\n  try {\n    return $input.all(0);\n  } catch (err) {\n    console.warn('⚠️  Нет данных от Merge All Branches');\n    return [];\n  }\n})();\n\nconst carItems = (() => {\n  try {\n    return $items('Get Car IDs', 'main', 0, { returnAll: true }) || [];\n  } catch (err) {\n    console.warn('⚠️  Нет данных из Get Car IDs');\n    return [];\n  }\n})();\n\nfunction normalizeCode(value) {\n  return (value ?? '').toString().trim().toLowerCase();\n}\n\nconst carIdMap = new Map();\ncarItems.forEach(item => {\n  const code = normalizeCode(item.json?.code || item.json?.car_code);\n  const id = item.json?.id;\n  if (code && id) {\n    carIdMap.set(code, id);\n  }\n});\nconsole.log('Car codes in map:', carIdMap.size);\n\nfunction convertDateToISO(rawValue) {\n  if (!rawValue) {\n    return null;\n  }\n\n  const value = rawValue.toString().trim();\n  if (!value) {\n    return null;\n  }\n\n  const tryParse = (input) => {\n    const parsed = new Date(input);\n    return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n  };\n\n  if (value.includes('T')) {\n    const iso = tryParse(value);\n    if (iso) {\n      return iso;\n    }\n  }\n\n  const match = value.match(/^(\\d{2})-(\\d{2})-(\\d{4})(?:\\s+(\\d{2}):(\\d{2}))?$/);\n  if (match) {\n    const day = match[1];\n    const month = match[2];\n    const year = match[3];\n    const hours = match[4] || '00';\n    const minutes = match[5] || '00';\n    const offsetDate = `${year}-${month}-${day}T${hours}:${minutes}:00+04:00`;\n    const iso = tryParse(offsetDate);\n    return iso || offsetDate;\n  }\n\n  return tryParse(value);\n}\n\nconst branchMapping = [\n  { branch: 'tbilisi', active: true },\n  { branch: 'batumi', active: true },\n  { branch: 'kutaisi', active: true },\n  { branch: 'service-center', active: true },\n];\n\nfunction getTechnicalType(attrs) {\n  const firstName = (attrs.first_name || '').toLowerCase();\n  const lastName = (attrs.last_name || '').toLowerCase();\n  const clientName = `${firstName} ${lastName}`.toLowerCase();\n  const description = (attrs.description || '').toLowerCase();\n  const locationStart = (attrs.location_start || '').toLowerCase();\n\n  const isTechnical =\n    clientName.includes('сервис') ||\n    clientName.includes('сотрудник') ||\n    clientName.includes('service') ||\n    clientName.includes('employee') ||\n    attrs.rental_cost === 0;\n\n  if (!isTechnical) {\n    return {\n      is_technical: false,\n      technical_type: 'regular',\n      technical_purpose: null,\n    };\n  }\n\n  const isRepair =\n    clientName.includes('сервис') ||\n    description.includes('ремонт') ||\n    description.includes('repair') ||\n    description.includes('fix') ||\n    description.includes('сто') ||\n    locationStart.includes('сервис') ||\n    locationStart.includes('service');\n\n  if (isRepair) {\n    return {\n      is_technical: true,\n      technical_type: 'technical_repair',\n      technical_purpose: 'repair',\n    };\n  }\n\n  return {\n    is_technical: true,\n    technical_type: 'technical',\n    technical_purpose: 'employee_trip',\n  };\n}\n\nconst results = [];\n\nbranchItems.forEach((item, index) => {\n  const json = item.json;\n  const mapping = branchMapping[index] || { branch: 'unknown', active: null };\n\n  if (json.error) {\n    results.push({\n      json: {\n        branch: mapping.branch,\n        error: true,\n        error_message: json.error || 'Unknown error',\n      },\n    });\n    return;\n  }\n\n  const bookingsData = json.bookings?.data || [];\n  bookingsData.forEach(booking => {\n    const attrs = booking.attributes || booking;\n    const technicalInfo = getTechnicalType(attrs);\n    const clientName = [attrs.first_name, attrs.middle_name, attrs.last_name]\n      .filter(Boolean)\n      .join(' ');\n\n    const carCode = attrs.car_code || '';\n    const rentprogCarIdRaw = attrs.car_id ?? attrs.carId ?? null;\n    const rentprogCarId = rentprogCarIdRaw !== null && rentprogCarIdRaw !== undefined\n      ? String(rentprogCarIdRaw)\n      : null;\n    const carId = carIdMap.get(normalizeCode(carCode)) || null;\n    const payloadObject = attrs ? JSON.parse(JSON.stringify(attrs)) : {};\n    const payloadJson = JSON.stringify(payloadObject);\n    const startAtISO = convertDateToISO(attrs.start_date_formatted || attrs.start_date);\n    const endAtISO = convertDateToISO(attrs.end_date_formatted || attrs.end_date);\n\n    results.push({\n      json: {\n        branch: mapping.branch,\n        number: attrs.number,\n        is_active: mapping.active,\n        start_date: attrs.start_date,\n        end_date: attrs.end_date,\n        start_date_formatted: attrs.start_date_formatted,\n        end_date_formatted: attrs.end_date_formatted,\n        start_at: startAtISO,\n        end_at: endAtISO,\n        created_at: attrs.created_at,\n        client_name: clientName,\n        client_category: attrs.client_category,\n        car_name: attrs.car_name,\n        car_code: carCode,\n        rentprog_car_id: rentprogCarId,\n        car_id: carId,\n        location_start: attrs.location_start,\n        location_end: attrs.location_end,\n        total: attrs.total,\n        deposit: attrs.deposit,\n        rental_cost: attrs.rental_cost,\n        days: attrs.days,\n        state: attrs.state,\n        in_rent: attrs.in_rent,\n        archive: attrs.archive,\n        start_worker_id: attrs.start_worker_id,\n        end_worker_id: attrs.end_worker_id,\n        responsible: attrs.responsible,\n        description: attrs.description,\n        source: attrs.source,\n        is_technical: technicalInfo.is_technical,\n        technical_type: technicalInfo.technical_type,\n        technical_purpose: technicalInfo.technical_purpose,\n        data: payloadObject,\n        payload_json: payloadJson,\n      },\n    });\n  });\n});\n\nconsole.log('Total results:', results.length);\n\nreturn results;"},"name":"Process All Bookings","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,368],"id":"2d3060ba-ccd4-4f48-a69c-45d2700a80ce"},{"parameters":{"jsCode":"// Быстрое форматирование результата без тяжелых операций\nconst items = $input.all();\n\n// Просто считаем количество успешных и неудачных\nconst successCount = items.filter(item => !item.json.error).length;\nconst errorCount = items.filter(item => item.json.error).length;\n\n// Формируем простое сообщение\nlet message = '📊 Парсинг броней RentProg завершён\\n\\n';\nmessage += `✅ Успешно: ${successCount}\\n`;\n\nif (errorCount > 0) {\n  message += `❌ Ошибок: ${errorCount}\\n`;\n}\n\nmessage += `\\n📈 Всего обработано: ${items.length} items`;\n\nreturn [{\n  json: {\n    success: errorCount === 0,\n    message: message,\n    total_items: items.length,\n    success_count: successCount,\n    error_count: errorCount\n  }\n}];"},"name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,464],"id":"e696f214-b189-4fa8-b742-54c7a408d927","onError":"continueRegularOutput"},{"parameters":{},"name":"Success","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,800],"id":"2fcbbea0-f311-4a73-9eeb-a4b488073f0c"},{"parameters":{"jsCode":"const postgres = require('postgres');\r\nconst { randomUUID } = require('crypto');\r\n\r\nconst connectionString = process.env.NEON_DATABASE_URL || process.env.DATABASE_URL;\r\nif (!connectionString) {\r\n  throw new Error('DATABASE_URL/NEON_DATABASE_URL is not configured');\r\n}\r\n\r\nconst sql = postgres(connectionString, {\r\n  ssl: { rejectUnauthorized: false },\r\n  max: 1,\r\n});\r\n\r\nconst toNumber = (value) => {\r\n  if (value === null || value === undefined || value === '') {\r\n    return null;\r\n  }\r\n  const parsed = Number(value);\r\n  return Number.isNaN(parsed) ? null : parsed;\r\n};\r\n\r\nconst toDate = (value) => {\r\n  if (!value) return null;\r\n  const date = new Date(value);\r\n  return Number.isNaN(date.getTime()) ? null : date;\r\n};\r\n\r\nasync function resolveBookingId(rentprogId) {\r\n  if (!rentprogId) {\r\n    return randomUUID();\r\n  }\r\n  const existing = await sql`\r\n    SELECT entity_id\r\n    FROM external_refs\r\n    WHERE system = 'rentprog'\r\n      AND external_id = ${rentprogId}\r\n    LIMIT 1\r\n  `;\r\n  return existing.length ? existing[0].entity_id : randomUUID();\r\n}\r\n\r\nasync function saveBooking(d) {\r\n  const rentprogId = d.booking_id\r\n    ? String(d.booking_id)\r\n    : d.data?.id\r\n      ? String(d.data.id)\r\n      : null;\r\n\r\n  if (!rentprogId) {\r\n    throw new Error('Missing RentProg booking_id');\r\n  }\r\n\r\n  const bookingId = await resolveBookingId(rentprogId);\r\n  const payload = d.data && Object.keys(d.data).length ? d.data : d;\r\n\r\n  const numberValue = toNumber(d.number);\r\n  const startAt = toDate(d.start_at || d.start_date_formatted);\r\n  const endAt = toDate(d.end_at || d.end_date_formatted);\r\n\r\n  await sql`\r\n    INSERT INTO bookings (\r\n      id, branch, number,\r\n      start_at, end_at,\r\n      start_date, end_date,\r\n      state, car_code, car_name,\r\n      client_name, location_start, location_end,\r\n      total, deposit, rental_cost, days,\r\n      in_rent, archive, description, source,\r\n      data, updated_at, created_at\r\n    )\r\n    VALUES (\r\n      ${bookingId}::uuid,\r\n      ${d.branch},\r\n      ${numberValue},\r\n      ${startAt},\r\n      ${endAt},\r\n      ${d.start_date},\r\n      ${d.end_date},\r\n      ${d.state},\r\n      ${d.car_code},\r\n      ${d.car_name},\r\n      ${d.client_name},\r\n      ${d.location_start},\r\n      ${d.location_end},\r\n      ${toNumber(d.total)},\r\n      ${toNumber(d.deposit)},\r\n      ${toNumber(d.rental_cost)},\r\n      ${toNumber(d.days)},\r\n      ${d.in_rent},\r\n      ${d.archive},\r\n      ${d.description},\r\n      ${d.source},\r\n      ${sql.json(payload)},\r\n      NOW(),\r\n      NOW()\r\n    )\r\n    ON CONFLICT (id) DO UPDATE SET\r\n      branch = EXCLUDED.branch,\r\n      number = EXCLUDED.number,\r\n      start_at = EXCLUDED.start_at,\r\n      end_at = EXCLUDED.end_at,\r\n      start_date = EXCLUDED.start_date,\r\n      end_date = EXCLUDED.end_date,\r\n      state = EXCLUDED.state,\r\n      car_code = EXCLUDED.car_code,\r\n      car_name = EXCLUDED.car_name,\r\n      client_name = EXCLUDED.client_name,\r\n      location_start = EXCLUDED.location_start,\r\n      location_end = EXCLUDED.location_end,\r\n      total = EXCLUDED.total,\r\n      deposit = EXCLUDED.deposit,\r\n      rental_cost = EXCLUDED.rental_cost,\r\n      days = EXCLUDED.days,\r\n      in_rent = EXCLUDED.in_rent,\r\n      archive = EXCLUDED.archive,\r\n      description = EXCLUDED.description,\r\n      source = EXCLUDED.source,\r\n      data = EXCLUDED.data,\r\n      updated_at = NOW();\r\n  `;\r\n\r\n  await sql`\r\n    INSERT INTO external_refs (\r\n      entity_type,\r\n      entity_id,\r\n      system,\r\n      external_id,\r\n      branch_code,\r\n      data,\r\n      created_at,\r\n      updated_at\r\n    )\r\n    VALUES (\r\n      'booking',\r\n      ${bookingId}::uuid,\r\n      'rentprog',\r\n      ${rentprogId},\r\n      ${d.branch},\r\n      ${sql.json(payload)},\r\n      NOW(),\r\n      NOW()\r\n    )\r\n    ON CONFLICT (system, external_id) DO UPDATE SET\r\n      entity_id = EXCLUDED.entity_id,\r\n      branch_code = EXCLUDED.branch_code,\r\n      data = EXCLUDED.data,\r\n      updated_at = NOW();\r\n  `;\r\n\r\n  return { bookingId, rentprogId };\r\n}\r\n\r\nmodule.exports = async function run() {\r\n  const items = $input.all();\r\n  const results = [];\r\n\r\n  try {\r\n    for (const item of items) {\r\n      const d = item.json || {};\r\n      if (d.error) {\r\n        results.push({\r\n          json: {\r\n            error: true,\r\n            message: d.error_message || d.error,\r\n            branch: d.branch,\r\n            number: d.number,\r\n          },\r\n        });\r\n        continue;\r\n      }\r\n\r\n      try {\r\n        const { bookingId, rentprogId } = await saveBooking(d);\r\n        results.push({\r\n          json: {\r\n            id: bookingId,\r\n            rentprog_id: rentprogId,\r\n            branch: d.branch,\r\n            number: d.number,\r\n          },\r\n        });\r\n      } catch (error) {\r\n        console.error('Save booking failed:', error);\r\n        results.push({\r\n          json: {\r\n            error: true,\r\n            message: error.message,\r\n            branch: d.branch,\r\n            number: d.number,\r\n          },\r\n        });\r\n      }\r\n    }\r\n  } finally {\r\n    await sql.end();\r\n  }\r\n\r\n  return results;\r\n};\r\n\r\nreturn module.exports();\r\n\r\n"},"name":"Save to DB","type":"n8n-nodes-base.code","typeVersion":2,"position":[944,592],"id":"b9818a14-c6d9-4efd-8cc4-d6c40ef70188","credentials":{}},{"parameters":{"chatId":"=-1003484642420","text":"={{ $json.message + '\\n\\n🔗 <a href=\"https://n8n.rentflow.rentals/workflow/' + $workflow.id + '/executions/' + $execution.id + '\">Открыть execution</a>' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"name":"Send Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,496],"id":"f8474291-33a8-44db-9531-3470c3b6b7c1","webhookId":"d4499d0b-0629-4ff7-be48-31683c09d271","credentials":{"telegramApi":{"id":"1tKryXxL5Gq395nN","name":"Telegram account"}}},{"parameters":{"jsCode":"// Выбрасываем ошибку чтобы execution был помечен как failed\nconst errorData = $input.first().json;\nconst errorMessage = errorData.message || 'Ошибка при парсинге броней RentProg';\n\nconsole.error('❌ Workflow failed:', errorMessage);\n\nthrow new Error(errorMessage);"},"name":"Throw Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,640],"id":"f7766058-ebc0-4118-9b4e-a78e22682fca"},{"parameters":{"numberInputs":4},"name":"Merge All Branches","type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,560],"id":"f151b280-d837-4550-911e-66440d396a28"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.error_count }}","operator":{"type":"number","operation":"gt"},"rightValue":0,"id":"a8d461ac-15b2-4191-a7ed-896eadc18115"}],"combinator":"and"},"options":{}},"name":"If Error","position":[1184,656],"type":"n8n-nodes-base.if","typeVersion":2,"id":"81aabef1-2eb0-4816-84a1-af6ce851621b"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400],"id":"61166ed4-956d-4aad-bd46-2bdbee04acba"}],"connections":{"Get Tbilisi Active":{"main":[[{"node":"Merge All Branches","type":"main","index":0}]]},"Get Batumi Active":{"main":[[{"node":"Merge All Branches","type":"main","index":1}]]},"Get Kutaisi Active":{"main":[[{"node":"Merge All Branches","type":"main","index":2}]]},"Get Service Active":{"main":[[{"node":"Merge All Branches","type":"main","index":3}]]},"Merge All Branches":{"main":[[{"node":"Process All Bookings","type":"main","index":0}]]},"Get Car IDs":{"main":[[{"node":"Process All Bookings","type":"main","index":4}]]},"Process All Bookings":{"main":[[{"node":"Save to DB","type":"main","index":0}]]},"Save to DB":{"main":[[{"node":"Format Result","type":"main","index":0}]]},"Format Result":{"main":[[{"node":"If Error","type":"main","index":0}],[]]},"If Error":{"main":[[{"node":"Send Alert","type":"main","index":0}],[{"node":"Success","type":"main","index":0}]]},"Send Alert":{"main":[[{"node":"Throw Error","type":"main","index":0}]]},"Every 5 Minutes":{"main":[[{"node":"Get Tbilisi Active","type":"main","index":0},{"node":"Get Batumi Active","type":"main","index":0},{"node":"Get Kutaisi Active","type":"main","index":0},{"node":"Get Service Active","type":"main","index":0},{"node":"Get Car IDs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tbilisi","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"active":true}